--
-- PostgreSQL database dump
--

\restrict jQMp9yIqH5vA409YSoi0OBMXxQZo4jlR3GBlF6mNE3RgocVHmSBqS5gFCPRLHw8

-- Dumped from database version 16.10 (Debian 16.10-1.pgdg12+1)
-- Dumped by pg_dump version 16.10 (Debian 16.10-1.pgdg12+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: core; Type: SCHEMA; Schema: -; Owner: crd_user
--

CREATE SCHEMA core;


ALTER SCHEMA core OWNER TO crd_user;

--
-- Name: eng_it; Type: SCHEMA; Schema: -; Owner: crd_user
--

CREATE SCHEMA eng_it;


ALTER SCHEMA eng_it OWNER TO crd_user;

--
-- Name: raw; Type: SCHEMA; Schema: -; Owner: crd_user
--

CREATE SCHEMA raw;


ALTER SCHEMA raw OWNER TO crd_user;

--
-- Name: read; Type: SCHEMA; Schema: -; Owner: crd_user
--

CREATE SCHEMA read;


ALTER SCHEMA read OWNER TO crd_user;

--
-- Name: ref; Type: SCHEMA; Schema: -; Owner: crd_user
--

CREATE SCHEMA ref;


ALTER SCHEMA ref OWNER TO crd_user;

--
-- Name: maturity_level; Type: TYPE; Schema: eng_it; Owner: crd_user
--

CREATE TYPE eng_it.maturity_level AS ENUM (
    'B',
    'A',
    'S'
);


ALTER TYPE eng_it.maturity_level OWNER TO crd_user;

--
-- Name: status_t; Type: TYPE; Schema: eng_it; Owner: crd_user
--

CREATE TYPE eng_it.status_t AS ENUM (
    'planned',
    'in_progress',
    'review',
    'blocked',
    'passed',
    'failed'
);


ALTER TYPE eng_it.status_t OWNER TO crd_user;

--
-- Name: fn_project_pipeline_state(); Type: FUNCTION; Schema: core; Owner: crd_user
--

CREATE FUNCTION core.fn_project_pipeline_state() RETURNS trigger
    LANGUAGE plpgsql
    AS $$ DECLARE m_stage TEXT; m_status TEXT; BEGIN SELECT stage, status INTO m_stage, m_status FROM ref.event_stage_map WHERE event_type = NEW.event_type; IF m_stage IS NOT NULL THEN INSERT INTO read.pipeline_state_latest(aggregate_type, aggregate_id, stage, status, last_event_id, updated_at) VALUES (NEW.aggregate_type, NEW.aggregate_id, m_stage, m_status, NEW.event_id, now()) ON CONFLICT (aggregate_type, aggregate_id) DO UPDATE SET stage = EXCLUDED.stage, status = EXCLUDED.status, last_event_id = EXCLUDED.last_event_id, updated_at = now(); END IF; RETURN NEW; END; $$;


ALTER FUNCTION core.fn_project_pipeline_state() OWNER TO crd_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: error_log; Type: TABLE; Schema: core; Owner: crd_user
--

CREATE TABLE core.error_log (
    incident_id bigint NOT NULL,
    ts timestamp with time zone DEFAULT now() NOT NULL,
    source_service text NOT NULL,
    stage text NOT NULL,
    error_code text,
    task_code text,
    job_id bigint,
    event_id bigint,
    path text,
    message text,
    details jsonb DEFAULT '{}'::jsonb NOT NULL,
    CONSTRAINT error_log_stage_check CHECK ((stage = ANY (ARRAY['planner'::text, 'orchestrator'::text, 'engineer'::text, 'curator'::text, 'github'::text, 'executor'::text, 'metrics'::text, 'collector'::text, 'backtester'::text])))
);


ALTER TABLE core.error_log OWNER TO crd_user;

--
-- Name: error_log_incident_id_seq; Type: SEQUENCE; Schema: core; Owner: crd_user
--

CREATE SEQUENCE core.error_log_incident_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE core.error_log_incident_id_seq OWNER TO crd_user;

--
-- Name: error_log_incident_id_seq; Type: SEQUENCE OWNED BY; Schema: core; Owner: crd_user
--

ALTER SEQUENCE core.error_log_incident_id_seq OWNED BY core.error_log.incident_id;


--
-- Name: events; Type: TABLE; Schema: core; Owner: crd_user
--

CREATE TABLE core.events (
    event_id bigint NOT NULL,
    ts timestamp with time zone DEFAULT now() NOT NULL,
    aggregate_type text NOT NULL,
    aggregate_id text NOT NULL,
    event_type text NOT NULL,
    version integer DEFAULT 1 NOT NULL,
    payload jsonb DEFAULT '{}'::jsonb NOT NULL,
    causation_id uuid,
    correlation_id uuid,
    idempotency_key text,
    producer text,
    CONSTRAINT events_aggregate_id_check CHECK ((length(aggregate_id) > 0)),
    CONSTRAINT events_aggregate_type_check CHECK ((length(aggregate_type) > 0)),
    CONSTRAINT events_event_type_check CHECK ((length(event_type) > 0)),
    CONSTRAINT events_version_check CHECK ((version >= 1))
);


ALTER TABLE core.events OWNER TO crd_user;

--
-- Name: events_event_id_seq; Type: SEQUENCE; Schema: core; Owner: crd_user
--

CREATE SEQUENCE core.events_event_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE core.events_event_id_seq OWNER TO crd_user;

--
-- Name: events_event_id_seq; Type: SEQUENCE OWNED BY; Schema: core; Owner: crd_user
--

ALTER SEQUENCE core.events_event_id_seq OWNED BY core.events.event_id;


--
-- Name: jobs; Type: TABLE; Schema: core; Owner: crd_user
--

CREATE TABLE core.jobs (
    job_id bigint NOT NULL,
    type text NOT NULL,
    payload jsonb DEFAULT '{}'::jsonb NOT NULL,
    not_before timestamp with time zone,
    status text DEFAULT 'queued'::text NOT NULL,
    lease_owner text,
    lease_until timestamp with time zone,
    retries integer DEFAULT 0 NOT NULL,
    idempotency_key text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT jobs_retries_check CHECK ((retries >= 0)),
    CONSTRAINT jobs_status_check CHECK ((status = ANY (ARRAY['queued'::text, 'leased'::text, 'done'::text, 'failed'::text, 'canceled'::text]))),
    CONSTRAINT jobs_type_check CHECK ((length(type) > 0))
);


ALTER TABLE core.jobs OWNER TO crd_user;

--
-- Name: jobs_job_id_seq; Type: SEQUENCE; Schema: core; Owner: crd_user
--

CREATE SEQUENCE core.jobs_job_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE core.jobs_job_id_seq OWNER TO crd_user;

--
-- Name: jobs_job_id_seq; Type: SEQUENCE OWNED BY; Schema: core; Owner: crd_user
--

ALTER SEQUENCE core.jobs_job_id_seq OWNED BY core.jobs.job_id;


--
-- Name: patches; Type: TABLE; Schema: core; Owner: crd_user
--

CREATE TABLE core.patches (
    id bigint NOT NULL,
    job_id text,
    idempotency_key text NOT NULL,
    target_path text NOT NULL,
    code_sha256 text NOT NULL,
    status text NOT NULL,
    result jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE core.patches OWNER TO crd_user;

--
-- Name: patches_id_seq; Type: SEQUENCE; Schema: core; Owner: crd_user
--

CREATE SEQUENCE core.patches_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE core.patches_id_seq OWNER TO crd_user;

--
-- Name: patches_id_seq; Type: SEQUENCE OWNED BY; Schema: core; Owner: crd_user
--

ALTER SEQUENCE core.patches_id_seq OWNED BY core.patches.id;


--
-- Name: projector_offsets; Type: TABLE; Schema: core; Owner: crd_user
--

CREATE TABLE core.projector_offsets (
    projector_name text NOT NULL,
    last_event_id bigint DEFAULT 0 NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT projector_offsets_last_event_id_check CHECK ((last_event_id >= 0))
);


ALTER TABLE core.projector_offsets OWNER TO crd_user;

--
-- Name: runtime_flags; Type: TABLE; Schema: core; Owner: crd_user
--

CREATE TABLE core.runtime_flags (
    flag_name text NOT NULL,
    is_enabled boolean DEFAULT false NOT NULL,
    meta jsonb DEFAULT '{}'::jsonb NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE core.runtime_flags OWNER TO crd_user;

--
-- Name: agent_progress; Type: TABLE; Schema: eng_it; Owner: crd_user
--

CREATE TABLE eng_it.agent_progress (
    id bigint NOT NULL,
    task_code text,
    agent_name text NOT NULL,
    status eng_it.status_t DEFAULT 'planned'::eng_it.status_t,
    progress_percent integer DEFAULT 0,
    evidence_uri text,
    notes text,
    started_at timestamp with time zone,
    finished_at timestamp with time zone,
    blockers text[],
    next_steps text[]
);


ALTER TABLE eng_it.agent_progress OWNER TO crd_user;

--
-- Name: agent_progress_id_seq; Type: SEQUENCE; Schema: eng_it; Owner: crd_user
--

CREATE SEQUENCE eng_it.agent_progress_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE eng_it.agent_progress_id_seq OWNER TO crd_user;

--
-- Name: agent_progress_id_seq; Type: SEQUENCE OWNED BY; Schema: eng_it; Owner: crd_user
--

ALTER SEQUENCE eng_it.agent_progress_id_seq OWNED BY eng_it.agent_progress.id;


--
-- Name: progress_navigator; Type: TABLE; Schema: eng_it; Owner: crd_user
--

CREATE TABLE eng_it.progress_navigator (
    id bigint NOT NULL,
    task_code text NOT NULL,
    title text NOT NULL,
    description text,
    level eng_it.maturity_level NOT NULL,
    module text NOT NULL,
    priority integer DEFAULT 5 NOT NULL,
    status eng_it.status_t DEFAULT 'planned'::eng_it.status_t,
    estimated_hours integer,
    actual_hours integer,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE eng_it.progress_navigator OWNER TO crd_user;

--
-- Name: progress_navigator_id_seq; Type: SEQUENCE; Schema: eng_it; Owner: crd_user
--

CREATE SEQUENCE eng_it.progress_navigator_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE eng_it.progress_navigator_id_seq OWNER TO crd_user;

--
-- Name: progress_navigator_id_seq; Type: SEQUENCE OWNED BY; Schema: eng_it; Owner: crd_user
--

ALTER SEQUENCE eng_it.progress_navigator_id_seq OWNED BY eng_it.progress_navigator.id;


--
-- Name: system_snapshots; Type: TABLE; Schema: eng_it; Owner: crd_user
--

CREATE TABLE eng_it.system_snapshots (
    id bigint NOT NULL,
    snapshot_name text NOT NULL,
    description text,
    task_code text,
    database_schema jsonb,
    agent_configs jsonb,
    active_tasks jsonb,
    created_at timestamp with time zone DEFAULT now(),
    is_stable boolean DEFAULT true
);


ALTER TABLE eng_it.system_snapshots OWNER TO crd_user;

--
-- Name: system_snapshots_id_seq; Type: SEQUENCE; Schema: eng_it; Owner: crd_user
--

CREATE SEQUENCE eng_it.system_snapshots_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE eng_it.system_snapshots_id_seq OWNER TO crd_user;

--
-- Name: system_snapshots_id_seq; Type: SEQUENCE OWNED BY; Schema: eng_it; Owner: crd_user
--

ALTER SEQUENCE eng_it.system_snapshots_id_seq OWNED BY eng_it.system_snapshots.id;


--
-- Name: task_dependencies; Type: TABLE; Schema: eng_it; Owner: crd_user
--

CREATE TABLE eng_it.task_dependencies (
    id bigint NOT NULL,
    task_code text,
    depends_on_task_code text,
    dependency_type text DEFAULT 'hard'::text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE eng_it.task_dependencies OWNER TO crd_user;

--
-- Name: task_dependencies_id_seq; Type: SEQUENCE; Schema: eng_it; Owner: crd_user
--

CREATE SEQUENCE eng_it.task_dependencies_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE eng_it.task_dependencies_id_seq OWNER TO crd_user;

--
-- Name: task_dependencies_id_seq; Type: SEQUENCE OWNED BY; Schema: eng_it; Owner: crd_user
--

ALTER SEQUENCE eng_it.task_dependencies_id_seq OWNED BY eng_it.task_dependencies.id;


--
-- Name: v_progress_matrix; Type: VIEW; Schema: eng_it; Owner: crd_user
--

CREATE VIEW eng_it.v_progress_matrix AS
 SELECT pn.task_code,
    pn.title,
    pn.level,
    pn.module,
    pn.priority,
    pn.status AS overall_status,
    max(
        CASE
            WHEN (ap.agent_name = 'orchestrator'::text) THEN ap.status
            ELSE NULL::eng_it.status_t
        END) AS orchestrator,
    max(
        CASE
            WHEN (ap.agent_name = 'orchestrator'::text) THEN ap.progress_percent
            ELSE NULL::integer
        END) AS orchestrator_pct,
    max(
        CASE
            WHEN (ap.agent_name = 'coder'::text) THEN ap.status
            ELSE NULL::eng_it.status_t
        END) AS coder,
    max(
        CASE
            WHEN (ap.agent_name = 'coder'::text) THEN ap.progress_percent
            ELSE NULL::integer
        END) AS coder_pct,
    max(
        CASE
            WHEN (ap.agent_name = 'curator'::text) THEN ap.status
            ELSE NULL::eng_it.status_t
        END) AS curator,
    max(
        CASE
            WHEN (ap.agent_name = 'curator'::text) THEN ap.progress_percent
            ELSE NULL::integer
        END) AS curator_pct,
    max(
        CASE
            WHEN (ap.agent_name = 'medic'::text) THEN ap.status
            ELSE NULL::eng_it.status_t
        END) AS medic,
    max(
        CASE
            WHEN (ap.agent_name = 'medic'::text) THEN ap.progress_percent
            ELSE NULL::integer
        END) AS medic_pct,
    pn.estimated_hours,
    pn.actual_hours,
    count(td.id) AS dependency_count
   FROM ((eng_it.progress_navigator pn
     LEFT JOIN eng_it.agent_progress ap ON ((pn.task_code = ap.task_code)))
     LEFT JOIN eng_it.task_dependencies td ON ((pn.task_code = td.task_code)))
  GROUP BY pn.task_code, pn.title, pn.level, pn.module, pn.priority, pn.status, pn.estimated_hours, pn.actual_hours;


ALTER VIEW eng_it.v_progress_matrix OWNER TO crd_user;

--
-- Name: v_self_building_metrics; Type: VIEW; Schema: eng_it; Owner: crd_user
--

CREATE VIEW eng_it.v_self_building_metrics AS
 SELECT count(*) AS total_tasks,
    count(*) FILTER (WHERE (status = 'passed'::eng_it.status_t)) AS completed_tasks,
    count(*) FILTER (WHERE (status = 'failed'::eng_it.status_t)) AS failed_tasks,
    count(*) FILTER (WHERE (status = 'in_progress'::eng_it.status_t)) AS active_tasks,
    avg(actual_hours) FILTER (WHERE (status = 'passed'::eng_it.status_t)) AS avg_completion_hours,
    sum(estimated_hours) AS total_estimated_hours,
    sum(actual_hours) AS total_actual_hours,
        CASE
            WHEN (sum(estimated_hours) > 0) THEN (((sum(actual_hours))::numeric * 100.0) / (sum(estimated_hours))::numeric)
            ELSE (100)::numeric
        END AS planning_accuracy_percent
   FROM eng_it.progress_navigator;


ALTER VIEW eng_it.v_self_building_metrics OWNER TO crd_user;

--
-- Name: core_events; Type: TABLE; Schema: public; Owner: crd_user
--

CREATE TABLE public.core_events (
    id uuid NOT NULL,
    ts_utc timestamp with time zone NOT NULL,
    service text NOT NULL,
    stage text NOT NULL,
    event_type text NOT NULL,
    job_id text,
    idempotency_key text,
    context jsonb
);


ALTER TABLE public.core_events OWNER TO crd_user;

--
-- Name: tasks; Type: TABLE; Schema: public; Owner: crd_user
--

CREATE TABLE public.tasks (
    id integer NOT NULL,
    user_id character varying(64) NOT NULL,
    task_description text NOT NULL,
    status character varying(32) NOT NULL,
    error_message text,
    created_at timestamp without time zone NOT NULL,
    started_at timestamp without time zone,
    completed_at timestamp without time zone,
    updated_at timestamp without time zone NOT NULL,
    generated_code text,
    test_results jsonb,
    deployment_ready boolean NOT NULL
);


ALTER TABLE public.tasks OWNER TO crd_user;

--
-- Name: tasks_id_seq; Type: SEQUENCE; Schema: public; Owner: crd_user
--

CREATE SEQUENCE public.tasks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tasks_id_seq OWNER TO crd_user;

--
-- Name: tasks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: crd_user
--

ALTER SEQUENCE public.tasks_id_seq OWNED BY public.tasks.id;


--
-- Name: pipeline_state_latest; Type: TABLE; Schema: read; Owner: crd_user
--

CREATE TABLE read.pipeline_state_latest (
    aggregate_type text NOT NULL,
    aggregate_id text NOT NULL,
    stage text NOT NULL,
    status text NOT NULL,
    last_event_id bigint DEFAULT 0 NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT pipeline_state_latest_last_event_id_check CHECK ((last_event_id >= 0))
);


ALTER TABLE read.pipeline_state_latest OWNER TO crd_user;

--
-- Name: error_taxonomy; Type: TABLE; Schema: ref; Owner: crd_user
--

CREATE TABLE ref.error_taxonomy (
    error_code text NOT NULL,
    category text NOT NULL,
    severity text NOT NULL,
    description text,
    remediation_hint text,
    CONSTRAINT error_taxonomy_severity_check CHECK ((severity = ANY (ARRAY['low'::text, 'medium'::text, 'high'::text, 'critical'::text])))
);


ALTER TABLE ref.error_taxonomy OWNER TO crd_user;

--
-- Name: event_stage_map; Type: TABLE; Schema: ref; Owner: crd_user
--

CREATE TABLE ref.event_stage_map (
    event_type text NOT NULL,
    stage text NOT NULL,
    status text NOT NULL
);


ALTER TABLE ref.event_stage_map OWNER TO crd_user;

--
-- Name: repo_inventory; Type: TABLE; Schema: ref; Owner: crd_user
--

CREATE TABLE ref.repo_inventory (
    path text NOT NULL,
    service text NOT NULL,
    component text NOT NULL,
    change_policy text NOT NULL,
    criticality text DEFAULT 'medium'::text NOT NULL,
    description text,
    last_seen_commit text,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT repo_inventory_change_policy_check CHECK ((change_policy = ANY (ARRAY['ALLOW_MODIFY'::text, 'ALLOW_APPEND'::text, 'DENY'::text]))),
    CONSTRAINT repo_inventory_criticality_check CHECK ((criticality = ANY (ARRAY['low'::text, 'medium'::text, 'high'::text])))
);


ALTER TABLE ref.repo_inventory OWNER TO crd_user;

--
-- Name: risk_policy; Type: TABLE; Schema: ref; Owner: crd_user
--

CREATE TABLE ref.risk_policy (
    policy_id bigint NOT NULL,
    name text NOT NULL,
    params jsonb DEFAULT '{}'::jsonb NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE ref.risk_policy OWNER TO crd_user;

--
-- Name: risk_policy_policy_id_seq; Type: SEQUENCE; Schema: ref; Owner: crd_user
--

CREATE SEQUENCE ref.risk_policy_policy_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE ref.risk_policy_policy_id_seq OWNER TO crd_user;

--
-- Name: risk_policy_policy_id_seq; Type: SEQUENCE OWNED BY; Schema: ref; Owner: crd_user
--

ALTER SEQUENCE ref.risk_policy_policy_id_seq OWNED BY ref.risk_policy.policy_id;


--
-- Name: stage_dict; Type: TABLE; Schema: ref; Owner: crd_user
--

CREATE TABLE ref.stage_dict (
    stage text NOT NULL,
    ordinal integer NOT NULL,
    CONSTRAINT stage_dict_ordinal_check CHECK ((ordinal >= 0))
);


ALTER TABLE ref.stage_dict OWNER TO crd_user;

--
-- Name: stage_transitions; Type: TABLE; Schema: ref; Owner: crd_user
--

CREATE TABLE ref.stage_transitions (
    from_stage text NOT NULL,
    to_stage text NOT NULL
);


ALTER TABLE ref.stage_transitions OWNER TO crd_user;

--
-- Name: status_dict; Type: TABLE; Schema: ref; Owner: crd_user
--

CREATE TABLE ref.status_dict (
    status text NOT NULL,
    priority integer NOT NULL,
    CONSTRAINT status_dict_priority_check CHECK ((priority >= 0))
);


ALTER TABLE ref.status_dict OWNER TO crd_user;

--
-- Name: strategy_genome; Type: TABLE; Schema: ref; Owner: crd_user
--

CREATE TABLE ref.strategy_genome (
    strategy_id uuid NOT NULL,
    parent_id uuid,
    name text NOT NULL,
    version_tag text NOT NULL,
    code_hash text NOT NULL,
    hyperparams jsonb DEFAULT '{}'::jsonb NOT NULL,
    status text DEFAULT 'draft'::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT strategy_genome_code_hash_check CHECK ((length(code_hash) > 0)),
    CONSTRAINT strategy_genome_name_check CHECK ((length(name) > 0)),
    CONSTRAINT strategy_genome_status_check CHECK ((status = ANY (ARRAY['draft'::text, 'approved'::text, 'deprecated'::text]))),
    CONSTRAINT strategy_genome_version_tag_check CHECK ((length(version_tag) > 0))
);


ALTER TABLE ref.strategy_genome OWNER TO crd_user;

--
-- Name: error_log incident_id; Type: DEFAULT; Schema: core; Owner: crd_user
--

ALTER TABLE ONLY core.error_log ALTER COLUMN incident_id SET DEFAULT nextval('core.error_log_incident_id_seq'::regclass);


--
-- Name: events event_id; Type: DEFAULT; Schema: core; Owner: crd_user
--

ALTER TABLE ONLY core.events ALTER COLUMN event_id SET DEFAULT nextval('core.events_event_id_seq'::regclass);


--
-- Name: jobs job_id; Type: DEFAULT; Schema: core; Owner: crd_user
--

ALTER TABLE ONLY core.jobs ALTER COLUMN job_id SET DEFAULT nextval('core.jobs_job_id_seq'::regclass);


--
-- Name: patches id; Type: DEFAULT; Schema: core; Owner: crd_user
--

ALTER TABLE ONLY core.patches ALTER COLUMN id SET DEFAULT nextval('core.patches_id_seq'::regclass);


--
-- Name: agent_progress id; Type: DEFAULT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.agent_progress ALTER COLUMN id SET DEFAULT nextval('eng_it.agent_progress_id_seq'::regclass);


--
-- Name: progress_navigator id; Type: DEFAULT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.progress_navigator ALTER COLUMN id SET DEFAULT nextval('eng_it.progress_navigator_id_seq'::regclass);


--
-- Name: system_snapshots id; Type: DEFAULT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.system_snapshots ALTER COLUMN id SET DEFAULT nextval('eng_it.system_snapshots_id_seq'::regclass);


--
-- Name: task_dependencies id; Type: DEFAULT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.task_dependencies ALTER COLUMN id SET DEFAULT nextval('eng_it.task_dependencies_id_seq'::regclass);


--
-- Name: tasks id; Type: DEFAULT; Schema: public; Owner: crd_user
--

ALTER TABLE ONLY public.tasks ALTER COLUMN id SET DEFAULT nextval('public.tasks_id_seq'::regclass);


--
-- Name: risk_policy policy_id; Type: DEFAULT; Schema: ref; Owner: crd_user
--

ALTER TABLE ONLY ref.risk_policy ALTER COLUMN policy_id SET DEFAULT nextval('ref.risk_policy_policy_id_seq'::regclass);


--
-- Data for Name: error_log; Type: TABLE DATA; Schema: core; Owner: crd_user
--

COPY core.error_log (incident_id, ts, source_service, stage, error_code, task_code, job_id, event_id, path, message, details) FROM stdin;
\.


--
-- Data for Name: events; Type: TABLE DATA; Schema: core; Owner: crd_user
--

COPY core.events (event_id, ts, aggregate_type, aggregate_id, event_type, version, payload, causation_id, correlation_id, idempotency_key, producer) FROM stdin;
1	2025-10-24 11:41:17.298312+02	task	demo-001	task_ingested	1	{}	\N	\N	\N	\N
\.


--
-- Data for Name: jobs; Type: TABLE DATA; Schema: core; Owner: crd_user
--

COPY core.jobs (job_id, type, payload, not_before, status, lease_owner, lease_until, retries, idempotency_key, created_at) FROM stdin;
\.


--
-- Data for Name: patches; Type: TABLE DATA; Schema: core; Owner: crd_user
--

COPY core.patches (id, job_id, idempotency_key, target_path, code_sha256, status, result, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: projector_offsets; Type: TABLE DATA; Schema: core; Owner: crd_user
--

COPY core.projector_offsets (projector_name, last_event_id, updated_at) FROM stdin;
\.


--
-- Data for Name: runtime_flags; Type: TABLE DATA; Schema: core; Owner: crd_user
--

COPY core.runtime_flags (flag_name, is_enabled, meta, updated_at) FROM stdin;
kill_switch	f	{}	2025-10-24 11:23:55.160303+02
\.


--
-- Data for Name: agent_progress; Type: TABLE DATA; Schema: eng_it; Owner: crd_user
--



--
-- Data for Name: progress_navigator; Type: TABLE DATA; Schema: eng_it; Owner: crd_user
--



--
-- Data for Name: system_snapshots; Type: TABLE DATA; Schema: eng_it; Owner: crd_user
--

COPY eng_it.system_snapshots (id, snapshot_name, description, task_code, database_schema, agent_configs, active_tasks, created_at, is_stable) FROM stdin;
\.


--
-- Data for Name: task_dependencies; Type: TABLE DATA; Schema: eng_it; Owner: crd_user
--

COPY eng_it.task_dependencies (id, task_code, depends_on_task_code, dependency_type, created_at) FROM stdin;
\.


--
-- Data for Name: core_events; Type: TABLE DATA; Schema: public; Owner: crd_user
--



--
-- Data for Name: tasks; Type: TABLE DATA; Schema: public; Owner: crd_user
--



--
-- Data for Name: pipeline_state_latest; Type: TABLE DATA; Schema: read; Owner: crd_user
--

COPY read.pipeline_state_latest (aggregate_type, aggregate_id, stage, status, last_event_id, updated_at) FROM stdin;
task	demo-001	INGESTED	planned	1	2025-10-24 11:41:17.298312+02
\.


--
-- Data for Name: error_taxonomy; Type: TABLE DATA; Schema: ref; Owner: crd_user
--

COPY ref.error_taxonomy (error_code, category, severity, description, remediation_hint) FROM stdin;
\.


--
-- Data for Name: event_stage_map; Type: TABLE DATA; Schema: ref; Owner: crd_user
--

COPY ref.event_stage_map (event_type, stage, status) FROM stdin;
task_ingested	INGESTED	planned
task_planned	PLANNED	in_progress
subtasks_emitted	PLANNED	in_progress
job_enqueued	QUEUED	planned
code_patch_proposed	CODED	in_progress
smoke_test_passed	SMOKED	passed
smoke_test_failed	SMOKED	failed
policy_check_passed	CURATED	passed
policy_check_failed	CURATED	failed
pr_opened	PR_OPEN	in_progress
ci_passed	TESTED	passed
ci_failed	TESTED	failed
pr_approved	APPROVED	passed
merged	MERGED	passed
deploy_success	DEPLOYED	passed
deploy_failed	DEPLOYED	failed
\.


--
-- Data for Name: repo_inventory; Type: TABLE DATA; Schema: ref; Owner: crd_user
--



--
-- Data for Name: risk_policy; Type: TABLE DATA; Schema: ref; Owner: crd_user
--

COPY ref.risk_policy (policy_id, name, params, is_active, updated_at) FROM stdin;
\.


--
-- Data for Name: stage_dict; Type: TABLE DATA; Schema: ref; Owner: crd_user
--

COPY ref.stage_dict (stage, ordinal) FROM stdin;
INGESTED	10
PLANNED	20
QUEUED	30
CODED	40
SMOKED	50
CURATED	60
PR_OPEN	70
TESTED	80
APPROVED	90
MERGED	100
DEPLOYED	110
\.


--
-- Data for Name: stage_transitions; Type: TABLE DATA; Schema: ref; Owner: crd_user
--

COPY ref.stage_transitions (from_stage, to_stage) FROM stdin;
INGESTED	PLANNED
PLANNED	QUEUED
QUEUED	CODED
CODED	SMOKED
SMOKED	CURATED
CURATED	PR_OPEN
PR_OPEN	TESTED
TESTED	APPROVED
APPROVED	MERGED
MERGED	DEPLOYED
\.


--
-- Data for Name: status_dict; Type: TABLE DATA; Schema: ref; Owner: crd_user
--

COPY ref.status_dict (status, priority) FROM stdin;
failed	100
blocked	90
in_progress	80
planned	70
passed	60
canceled	10
\.


--
-- Data for Name: strategy_genome; Type: TABLE DATA; Schema: ref; Owner: crd_user
--

COPY ref.strategy_genome (strategy_id, parent_id, name, version_tag, code_hash, hyperparams, status, created_at, updated_at) FROM stdin;
\.


--
-- Name: error_log_incident_id_seq; Type: SEQUENCE SET; Schema: core; Owner: crd_user
--

SELECT pg_catalog.setval('core.error_log_incident_id_seq', 1, false);


--
-- Name: events_event_id_seq; Type: SEQUENCE SET; Schema: core; Owner: crd_user
--

SELECT pg_catalog.setval('core.events_event_id_seq', 1, true);


--
-- Name: jobs_job_id_seq; Type: SEQUENCE SET; Schema: core; Owner: crd_user
--

SELECT pg_catalog.setval('core.jobs_job_id_seq', 1, false);


--
-- Name: patches_id_seq; Type: SEQUENCE SET; Schema: core; Owner: crd_user
--

SELECT pg_catalog.setval('core.patches_id_seq', 1, false);


--
-- Name: agent_progress_id_seq; Type: SEQUENCE SET; Schema: eng_it; Owner: crd_user
--

SELECT pg_catalog.setval('eng_it.agent_progress_id_seq', 656, true);


--
-- Name: progress_navigator_id_seq; Type: SEQUENCE SET; Schema: eng_it; Owner: crd_user
--

SELECT pg_catalog.setval('eng_it.progress_navigator_id_seq', 86, true);


--
-- Name: system_snapshots_id_seq; Type: SEQUENCE SET; Schema: eng_it; Owner: crd_user
--

SELECT pg_catalog.setval('eng_it.system_snapshots_id_seq', 1, false);


--
-- Name: task_dependencies_id_seq; Type: SEQUENCE SET; Schema: eng_it; Owner: crd_user
--

SELECT pg_catalog.setval('eng_it.task_dependencies_id_seq', 1, false);


--
-- Name: tasks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: crd_user
--

SELECT pg_catalog.setval('public.tasks_id_seq', 12, true);


--
-- Name: risk_policy_policy_id_seq; Type: SEQUENCE SET; Schema: ref; Owner: crd_user
--

SELECT pg_catalog.setval('ref.risk_policy_policy_id_seq', 1, false);


--
-- Name: error_log error_log_pkey; Type: CONSTRAINT; Schema: core; Owner: crd_user
--

ALTER TABLE ONLY core.error_log
    ADD CONSTRAINT error_log_pkey PRIMARY KEY (incident_id);


--
-- Name: events events_pkey; Type: CONSTRAINT; Schema: core; Owner: crd_user
--

ALTER TABLE ONLY core.events
    ADD CONSTRAINT events_pkey PRIMARY KEY (event_id);


--
-- Name: jobs jobs_idempotency_key_key; Type: CONSTRAINT; Schema: core; Owner: crd_user
--

ALTER TABLE ONLY core.jobs
    ADD CONSTRAINT jobs_idempotency_key_key UNIQUE (idempotency_key);


--
-- Name: jobs jobs_pkey; Type: CONSTRAINT; Schema: core; Owner: crd_user
--

ALTER TABLE ONLY core.jobs
    ADD CONSTRAINT jobs_pkey PRIMARY KEY (job_id);


--
-- Name: patches patches_pkey; Type: CONSTRAINT; Schema: core; Owner: crd_user
--

ALTER TABLE ONLY core.patches
    ADD CONSTRAINT patches_pkey PRIMARY KEY (id);


--
-- Name: projector_offsets projector_offsets_pkey; Type: CONSTRAINT; Schema: core; Owner: crd_user
--

ALTER TABLE ONLY core.projector_offsets
    ADD CONSTRAINT projector_offsets_pkey PRIMARY KEY (projector_name);


--
-- Name: runtime_flags runtime_flags_pkey; Type: CONSTRAINT; Schema: core; Owner: crd_user
--

ALTER TABLE ONLY core.runtime_flags
    ADD CONSTRAINT runtime_flags_pkey PRIMARY KEY (flag_name);


--
-- Name: agent_progress agent_progress_pkey; Type: CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.agent_progress
    ADD CONSTRAINT agent_progress_pkey PRIMARY KEY (id);


--
-- Name: agent_progress agent_progress_task_code_agent_name_key; Type: CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.agent_progress
    ADD CONSTRAINT agent_progress_task_code_agent_name_key UNIQUE (task_code, agent_name);


--
-- Name: progress_navigator progress_navigator_pkey; Type: CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.progress_navigator
    ADD CONSTRAINT progress_navigator_pkey PRIMARY KEY (id);


--
-- Name: progress_navigator progress_navigator_task_code_key; Type: CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.progress_navigator
    ADD CONSTRAINT progress_navigator_task_code_key UNIQUE (task_code);


--
-- Name: system_snapshots system_snapshots_pkey; Type: CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.system_snapshots
    ADD CONSTRAINT system_snapshots_pkey PRIMARY KEY (id);


--
-- Name: task_dependencies task_dependencies_pkey; Type: CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.task_dependencies
    ADD CONSTRAINT task_dependencies_pkey PRIMARY KEY (id);


--
-- Name: core_events core_events_pkey; Type: CONSTRAINT; Schema: public; Owner: crd_user
--

ALTER TABLE ONLY public.core_events
    ADD CONSTRAINT core_events_pkey PRIMARY KEY (id);


--
-- Name: tasks tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: crd_user
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_pkey PRIMARY KEY (id);


--
-- Name: pipeline_state_latest pipeline_state_latest_pkey; Type: CONSTRAINT; Schema: read; Owner: crd_user
--

ALTER TABLE ONLY read.pipeline_state_latest
    ADD CONSTRAINT pipeline_state_latest_pkey PRIMARY KEY (aggregate_type, aggregate_id);


--
-- Name: error_taxonomy error_taxonomy_pkey; Type: CONSTRAINT; Schema: ref; Owner: crd_user
--

ALTER TABLE ONLY ref.error_taxonomy
    ADD CONSTRAINT error_taxonomy_pkey PRIMARY KEY (error_code);


--
-- Name: event_stage_map event_stage_map_pkey; Type: CONSTRAINT; Schema: ref; Owner: crd_user
--

ALTER TABLE ONLY ref.event_stage_map
    ADD CONSTRAINT event_stage_map_pkey PRIMARY KEY (event_type);


--
-- Name: repo_inventory repo_inventory_pkey; Type: CONSTRAINT; Schema: ref; Owner: crd_user
--

ALTER TABLE ONLY ref.repo_inventory
    ADD CONSTRAINT repo_inventory_pkey PRIMARY KEY (path);


--
-- Name: risk_policy risk_policy_name_key; Type: CONSTRAINT; Schema: ref; Owner: crd_user
--

ALTER TABLE ONLY ref.risk_policy
    ADD CONSTRAINT risk_policy_name_key UNIQUE (name);


--
-- Name: risk_policy risk_policy_pkey; Type: CONSTRAINT; Schema: ref; Owner: crd_user
--

ALTER TABLE ONLY ref.risk_policy
    ADD CONSTRAINT risk_policy_pkey PRIMARY KEY (policy_id);


--
-- Name: stage_dict stage_dict_pkey; Type: CONSTRAINT; Schema: ref; Owner: crd_user
--

ALTER TABLE ONLY ref.stage_dict
    ADD CONSTRAINT stage_dict_pkey PRIMARY KEY (stage);


--
-- Name: stage_transitions stage_transitions_pkey; Type: CONSTRAINT; Schema: ref; Owner: crd_user
--

ALTER TABLE ONLY ref.stage_transitions
    ADD CONSTRAINT stage_transitions_pkey PRIMARY KEY (from_stage, to_stage);


--
-- Name: status_dict status_dict_pkey; Type: CONSTRAINT; Schema: ref; Owner: crd_user
--

ALTER TABLE ONLY ref.status_dict
    ADD CONSTRAINT status_dict_pkey PRIMARY KEY (status);


--
-- Name: strategy_genome strategy_genome_name_version_tag_key; Type: CONSTRAINT; Schema: ref; Owner: crd_user
--

ALTER TABLE ONLY ref.strategy_genome
    ADD CONSTRAINT strategy_genome_name_version_tag_key UNIQUE (name, version_tag);


--
-- Name: strategy_genome strategy_genome_pkey; Type: CONSTRAINT; Schema: ref; Owner: crd_user
--

ALTER TABLE ONLY ref.strategy_genome
    ADD CONSTRAINT strategy_genome_pkey PRIMARY KEY (strategy_id);


--
-- Name: ix_core_patches_target; Type: INDEX; Schema: core; Owner: crd_user
--

CREATE INDEX ix_core_patches_target ON core.patches USING btree (target_path);


--
-- Name: ix_error_log_code; Type: INDEX; Schema: core; Owner: crd_user
--

CREATE INDEX ix_error_log_code ON core.error_log USING btree (error_code);


--
-- Name: ix_error_log_path; Type: INDEX; Schema: core; Owner: crd_user
--

CREATE INDEX ix_error_log_path ON core.error_log USING btree (path);


--
-- Name: ix_error_log_stage; Type: INDEX; Schema: core; Owner: crd_user
--

CREATE INDEX ix_error_log_stage ON core.error_log USING btree (stage);


--
-- Name: ix_error_log_ts; Type: INDEX; Schema: core; Owner: crd_user
--

CREATE INDEX ix_error_log_ts ON core.error_log USING btree (ts);


--
-- Name: ix_events_agg; Type: INDEX; Schema: core; Owner: crd_user
--

CREATE INDEX ix_events_agg ON core.events USING btree (aggregate_type, aggregate_id, event_id);


--
-- Name: ix_events_ts; Type: INDEX; Schema: core; Owner: crd_user
--

CREATE INDEX ix_events_ts ON core.events USING btree (ts);


--
-- Name: ix_events_type_ts; Type: INDEX; Schema: core; Owner: crd_user
--

CREATE INDEX ix_events_type_ts ON core.events USING btree (event_type, ts);


--
-- Name: ix_jobs_pick; Type: INDEX; Schema: core; Owner: crd_user
--

CREATE INDEX ix_jobs_pick ON core.jobs USING btree (status, not_before, job_id);


--
-- Name: ux_core_patches_idemp; Type: INDEX; Schema: core; Owner: crd_user
--

CREATE UNIQUE INDEX ux_core_patches_idemp ON core.patches USING btree (idempotency_key);


--
-- Name: ix_tasks_id; Type: INDEX; Schema: public; Owner: crd_user
--

CREATE INDEX ix_tasks_id ON public.tasks USING btree (id);


--
-- Name: ix_tasks_status; Type: INDEX; Schema: public; Owner: crd_user
--

CREATE INDEX ix_tasks_status ON public.tasks USING btree (status);


--
-- Name: ix_tasks_user_id; Type: INDEX; Schema: public; Owner: crd_user
--

CREATE INDEX ix_tasks_user_id ON public.tasks USING btree (user_id);


--
-- Name: ix_pipeline_state_stage; Type: INDEX; Schema: read; Owner: crd_user
--

CREATE INDEX ix_pipeline_state_stage ON read.pipeline_state_latest USING btree (stage);


--
-- Name: ix_pipeline_state_status; Type: INDEX; Schema: read; Owner: crd_user
--

CREATE INDEX ix_pipeline_state_status ON read.pipeline_state_latest USING btree (status);


--
-- Name: ix_repo_inventory_component; Type: INDEX; Schema: ref; Owner: crd_user
--

CREATE INDEX ix_repo_inventory_component ON ref.repo_inventory USING btree (component);


--
-- Name: ix_repo_inventory_policy; Type: INDEX; Schema: ref; Owner: crd_user
--

CREATE INDEX ix_repo_inventory_policy ON ref.repo_inventory USING btree (change_policy);


--
-- Name: ix_repo_inventory_service; Type: INDEX; Schema: ref; Owner: crd_user
--

CREATE INDEX ix_repo_inventory_service ON ref.repo_inventory USING btree (service);


--
-- Name: ix_strategy_genome_codehash; Type: INDEX; Schema: ref; Owner: crd_user
--

CREATE INDEX ix_strategy_genome_codehash ON ref.strategy_genome USING btree (code_hash);


--
-- Name: ix_strategy_genome_parent; Type: INDEX; Schema: ref; Owner: crd_user
--

CREATE INDEX ix_strategy_genome_parent ON ref.strategy_genome USING btree (parent_id);


--
-- Name: events trg_events_pipeline_state; Type: TRIGGER; Schema: core; Owner: crd_user
--

CREATE TRIGGER trg_events_pipeline_state AFTER INSERT ON core.events FOR EACH ROW EXECUTE FUNCTION core.fn_project_pipeline_state();


--
-- Name: error_log error_log_error_code_fkey; Type: FK CONSTRAINT; Schema: core; Owner: crd_user
--

ALTER TABLE ONLY core.error_log
    ADD CONSTRAINT error_log_error_code_fkey FOREIGN KEY (error_code) REFERENCES ref.error_taxonomy(error_code);


--
-- Name: agent_progress agent_progress_task_code_fkey; Type: FK CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.agent_progress
    ADD CONSTRAINT agent_progress_task_code_fkey FOREIGN KEY (task_code) REFERENCES eng_it.progress_navigator(task_code);


--
-- Name: task_dependencies task_dependencies_task_code_fkey; Type: FK CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.task_dependencies
    ADD CONSTRAINT task_dependencies_task_code_fkey FOREIGN KEY (task_code) REFERENCES eng_it.progress_navigator(task_code);


--
-- Name: event_stage_map event_stage_map_stage_fkey; Type: FK CONSTRAINT; Schema: ref; Owner: crd_user
--

ALTER TABLE ONLY ref.event_stage_map
    ADD CONSTRAINT event_stage_map_stage_fkey FOREIGN KEY (stage) REFERENCES ref.stage_dict(stage);


--
-- Name: event_stage_map event_stage_map_status_fkey; Type: FK CONSTRAINT; Schema: ref; Owner: crd_user
--

ALTER TABLE ONLY ref.event_stage_map
    ADD CONSTRAINT event_stage_map_status_fkey FOREIGN KEY (status) REFERENCES ref.status_dict(status);


--
-- Name: stage_transitions stage_transitions_from_stage_fkey; Type: FK CONSTRAINT; Schema: ref; Owner: crd_user
--

ALTER TABLE ONLY ref.stage_transitions
    ADD CONSTRAINT stage_transitions_from_stage_fkey FOREIGN KEY (from_stage) REFERENCES ref.stage_dict(stage);


--
-- Name: stage_transitions stage_transitions_to_stage_fkey; Type: FK CONSTRAINT; Schema: ref; Owner: crd_user
--

ALTER TABLE ONLY ref.stage_transitions
    ADD CONSTRAINT stage_transitions_to_stage_fkey FOREIGN KEY (to_stage) REFERENCES ref.stage_dict(stage);


--
-- PostgreSQL database dump complete
--

\unrestrict jQMp9yIqH5vA409YSoi0OBMXxQZo4jlR3GBlF6mNE3RgocVHmSBqS5gFCPRLHw8

