--
-- PostgreSQL database dump
--

\restrict 8DCEMdIRCkUK7MDvc8ODeOmD4zFP3hvqwfNM0IHczMAnvsBkJLVuUfkyTYVhFRt

-- Dumped from database version 16.10 (Debian 16.10-1.pgdg12+1)
-- Dumped by pg_dump version 16.10 (Debian 16.10-1.pgdg12+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: core; Type: SCHEMA; Schema: -; Owner: crd_user
--

CREATE SCHEMA core;


ALTER SCHEMA core OWNER TO crd_user;

--
-- Name: eng_it; Type: SCHEMA; Schema: -; Owner: crd_user
--

CREATE SCHEMA eng_it;


ALTER SCHEMA eng_it OWNER TO crd_user;

--
-- Name: nav; Type: SCHEMA; Schema: -; Owner: crd_user
--

CREATE SCHEMA nav;


ALTER SCHEMA nav OWNER TO crd_user;

--
-- Name: raw; Type: SCHEMA; Schema: -; Owner: crd_user
--

CREATE SCHEMA raw;


ALTER SCHEMA raw OWNER TO crd_user;

--
-- Name: read; Type: SCHEMA; Schema: -; Owner: crd_user
--

CREATE SCHEMA read;


ALTER SCHEMA read OWNER TO crd_user;

--
-- Name: ref; Type: SCHEMA; Schema: -; Owner: crd_user
--

CREATE SCHEMA ref;


ALTER SCHEMA ref OWNER TO crd_user;

--
-- Name: maturity_level; Type: TYPE; Schema: eng_it; Owner: crd_user
--

CREATE TYPE eng_it.maturity_level AS ENUM (
    'B',
    'A',
    'S'
);


ALTER TYPE eng_it.maturity_level OWNER TO crd_user;

--
-- Name: status_t; Type: TYPE; Schema: eng_it; Owner: crd_user
--

CREATE TYPE eng_it.status_t AS ENUM (
    'planned',
    'in_progress',
    'review',
    'blocked',
    'passed',
    'failed'
);


ALTER TYPE eng_it.status_t OWNER TO crd_user;

--
-- Name: fn_project_pipeline_state(); Type: FUNCTION; Schema: core; Owner: crd_user
--

CREATE FUNCTION core.fn_project_pipeline_state() RETURNS trigger
    LANGUAGE plpgsql
    AS $$ DECLARE m_stage TEXT; m_status TEXT; BEGIN SELECT stage, status INTO m_stage, m_status FROM ref.event_stage_map WHERE event_type = NEW.event_type; IF m_stage IS NOT NULL THEN INSERT INTO read.pipeline_state_latest(aggregate_type, aggregate_id, stage, status, last_event_id, updated_at) VALUES (NEW.aggregate_type, NEW.aggregate_id, m_stage, m_status, NEW.event_id, now()) ON CONFLICT (aggregate_type, aggregate_id) DO UPDATE SET stage = EXCLUDED.stage, status = EXCLUDED.status, last_event_id = EXCLUDED.last_event_id, updated_at = now(); END IF; RETURN NEW; END; $$;


ALTER FUNCTION core.fn_project_pipeline_state() OWNER TO crd_user;

--
-- Name: fn_sync_kurator_to_roadmap(); Type: FUNCTION; Schema: eng_it; Owner: crd_user
--

CREATE FUNCTION eng_it.fn_sync_kurator_to_roadmap() RETURNS trigger
    LANGUAGE plpgsql
    AS $$BEGIN IF NEW.status = 'APPROVED' THEN UPDATE eng_it.tasks SET status = 'done', updated_at = now() WHERE id = (SELECT roadmap_task_id FROM eng_it.technical_specifications WHERE tz_id = NEW.tz_id); END IF; RETURN NEW; END;$$;


ALTER FUNCTION eng_it.fn_sync_kurator_to_roadmap() OWNER TO crd_user;

--
-- Name: update_task_status_on_kurator_approval(); Type: FUNCTION; Schema: eng_it; Owner: crd_user
--

CREATE FUNCTION eng_it.update_task_status_on_kurator_approval() RETURNS trigger
    LANGUAGE plpgsql
    AS $$BEGIN IF NEW.status = 'APPROVED' THEN UPDATE eng_it.tasks SET status = 'done', updated_at = now() WHERE id = (SELECT roadmap_task_id FROM eng_it.technical_specifications WHERE tz_id = NEW.tz_id); END IF; RETURN NEW; END;$$;


ALTER FUNCTION eng_it.update_task_status_on_kurator_approval() OWNER TO crd_user;

--
-- Name: kurator_check_roadmap_revision_simple(uuid, uuid, text, text); Type: FUNCTION; Schema: nav; Owner: crd_user
--

CREATE FUNCTION nav.kurator_check_roadmap_revision_simple(_revision_id uuid, _item_id uuid, _diff_type text, _payload_md_ref text) RETURNS TABLE(policy_name text, check_passed boolean, message text, severity text)
    LANGUAGE sql
    AS $$
    -- ???????? 1: ?????? ????????
    SELECT 'no_deletions'::TEXT as policy_name,
           _diff_type != 'delete' as check_passed,
           CASE 
               WHEN _diff_type = 'delete' THEN '????????? ???????? ???????? ? Roadmap'
               ELSE 'OK: ???????? ?? ???????? ?????????'
           END as message,
           'blocking'::TEXT as severity
    UNION ALL
    -- ???????? 2: ???????????? ?????
    SELECT 'valid_paths'::TEXT as policy_name,
           _payload_md_ref LIKE 'workspace/roadmap/revisions/%' as check_passed,
           CASE 
               WHEN _payload_md_ref NOT LIKE 'workspace/roadmap/revisions/%' THEN '???????????? ???? ? ????? ???????'
               ELSE 'OK: ???? ? ????? ??????? ?????????'
           END as message,
           'blocking'::TEXT as severity
    UNION ALL
    -- ???????? 3: ????????????? ????????
    SELECT 'item_exists'::TEXT as policy_name,
           EXISTS(SELECT 1 FROM nav.roadmap_items WHERE item_id = _item_id) as check_passed,
           CASE 
               WHEN NOT EXISTS(SELECT 1 FROM nav.roadmap_items WHERE item_id = _item_id) THEN '??????? Roadmap ?? ??????????'
               ELSE 'OK: ??????? Roadmap ??????????'
           END as message,
           'blocking'::TEXT as severity
$$;


ALTER FUNCTION nav.kurator_check_roadmap_revision_simple(_revision_id uuid, _item_id uuid, _diff_type text, _payload_md_ref text) OWNER TO crd_user;

--
-- Name: kurator_check_technical_task_simple(uuid, text, jsonb); Type: FUNCTION; Schema: nav; Owner: crd_user
--

CREATE FUNCTION nav.kurator_check_technical_task_simple(_tz_id uuid, _title text, _artifacts jsonb) RETURNS TABLE(policy_name text, check_passed boolean, message text, severity text)
    LANGUAGE sql
    AS $$
    -- ???????? 1: ??????? ?????????
    SELECT 'has_acceptance_criteria'::TEXT as policy_name,
           _title IS NOT NULL AND length(trim(_title)) > 0 as check_passed,
           CASE 
               WHEN _title IS NULL OR length(trim(_title)) = 0 THEN '?? ?????? ????? ?????????'
               ELSE 'OK: ????????? ?? ????????????'
           END as message,
           'blocking'::TEXT as severity
    UNION ALL
    -- ???????? 2: ???????????? ??????????
    SELECT 'valid_artifacts'::TEXT as policy_name,
           _artifacts IS NULL OR jsonb_typeof(_artifacts) = 'array' as check_passed,
           CASE 
               WHEN _artifacts IS NOT NULL AND jsonb_typeof(_artifacts) != 'array' THEN '????????? ?????? ???? ????????'
               ELSE 'OK: ????????? ?????????'
           END as message,
           'warning'::TEXT as severity
$$;


ALTER FUNCTION nav.kurator_check_technical_task_simple(_tz_id uuid, _title text, _artifacts jsonb) OWNER TO crd_user;

--
-- Name: project_roadmap_catchup(); Type: FUNCTION; Schema: nav; Owner: crd_user
--

CREATE FUNCTION nav.project_roadmap_catchup() RETURNS bigint
    LANGUAGE plpgsql
    AS $$DECLARE _offset bigint; BEGIN SELECT last_event_id INTO _offset FROM nav.projector_offset WHERE projector_name = 'roadmap_nav'; IF NOT FOUND THEN INSERT INTO nav.projector_offset(projector_name,last_event_id) VALUES ('roadmap_nav',0); RETURN 0; END IF; UPDATE nav.projector_offset SET updated_at = NOW() WHERE projector_name = 'roadmap_nav'; RETURN _offset; END;$$;


ALTER FUNCTION nav.project_roadmap_catchup() OWNER TO crd_user;

--
-- Name: project_roadmap_event(bigint, timestamp with time zone, text, jsonb); Type: FUNCTION; Schema: nav; Owner: crd_user
--

CREATE FUNCTION nav.project_roadmap_event(_id bigint, _ts timestamp with time zone, _type text, _payload jsonb) RETURNS void
    LANGUAGE plpgsql
    AS $$
DECLARE
  v_item_id UUID;
  v_rev_id  UUID;
  v_parent  UUID;
  v_title   TEXT;
  v_summary TEXT;
  v_hints   JSONB;
  v_deliv   TEXT;
  v_prio    INT;
  v_status  TEXT;
  v_owner   TEXT;
  v_order   INT;
  v_ver_tag TEXT;
  v_diff    TEXT;
  v_mdref   TEXT;
  v_fields  JSONB;
BEGIN
  IF _type = 'roadmap.item.created' THEN
    v_item_id := (_payload->>'item_id')::uuid;
    v_parent  := NULLIF(_payload->>'parent_id','')::uuid;
    v_title   := _payload->>'title';
    v_summary := _payload->>'summary';
    v_hints   := COALESCE(_payload->'tech_hints','[]'::jsonb);
    v_deliv   := _payload->>'deliverable';
    v_prio    := NULLIF(_payload->>'priority','')::int;
    v_status  := _payload->>'status';
    v_owner   := _payload->>'owner';
    v_order   := NULLIF(_payload->>'order_index','')::int;

    INSERT INTO nav.roadmap_items(
      item_id,parent_id,title,summary,tech_hints,deliverable,priority,status,owner,order_index,created_at,updated_at
    )
    VALUES(v_item_id,v_parent,v_title,v_summary,v_hints,v_deliv,COALESCE(v_prio,3),v_status,v_owner,COALESCE(v_order,100),_ts,_ts)
    ON CONFLICT (item_id) DO NOTHING;

  ELSIF _type = 'roadmap.item.edited' THEN
    v_item_id := (_payload->>'item_id')::uuid;
    v_fields  := COALESCE(_payload->'fields','{}'::jsonb);

    UPDATE nav.roadmap_items SET
      title       = COALESCE(v_fields->>'title', title),
      summary     = COALESCE(v_fields->>'summary', summary),
      tech_hints  = COALESCE(v_fields->'tech_hints', tech_hints),
      deliverable = COALESCE(v_fields->>'deliverable', deliverable),
      priority    = COALESCE((v_fields->>'priority')::int, priority),
      status      = COALESCE(v_fields->>'status', status),
      owner       = COALESCE(v_fields->>'owner', owner),
      order_index = COALESCE((v_fields->>'order_index')::int, order_index),
      updated_at  = _ts
    WHERE item_id = v_item_id;

  ELSIF _type = 'roadmap.item.reordered' THEN
    v_item_id := (_payload->>'item_id')::uuid;
    v_order   := NULLIF(_payload->>'order_index','')::int;
    UPDATE nav.roadmap_items SET order_index = COALESCE(v_order,order_index), updated_at=_ts
    WHERE item_id = v_item_id;

  ELSIF _type = 'roadmap.item.status_changed' THEN
    v_item_id := (_payload->>'item_id')::uuid;
    v_status  := _payload->>'status';
    UPDATE nav.roadmap_items SET status = v_status, updated_at=_ts WHERE item_id = v_item_id;

  ELSIF _type = 'roadmap.item.archived' THEN
    v_item_id := (_payload->>'item_id')::uuid;
    UPDATE nav.roadmap_items SET status='blocked', updated_at=_ts WHERE item_id=v_item_id;

  ELSIF _type = 'roadmap.revision.submitted' THEN
    v_rev_id  := (_payload->>'revision_id')::uuid;
    v_item_id := (_payload->>'item_id')::uuid;
    v_ver_tag := _payload->>'version_tag';
    v_diff    := _payload->>'diff_type';
    v_mdref   := _payload->>'payload_md_ref';

    INSERT INTO nav.roadmap_revisions(revision_id,item_id,version_tag,diff_type,payload_md_ref,approved,approved_by,created_at)
    VALUES(v_rev_id,v_item_id,v_ver_tag,v_diff,v_mdref,FALSE,NULL,_ts)
    ON CONFLICT (revision_id) DO NOTHING;

  ELSIF _type = 'roadmap.revision.approved' THEN
    v_rev_id  := (_payload->>'revision_id')::uuid;
    v_item_id := (_payload->>'item_id')::uuid;

    UPDATE nav.roadmap_revisions
    SET approved=TRUE, approved_by=COALESCE(_payload->>'approved_by','user'), created_at=_ts
    WHERE revision_id=v_rev_id;

    UPDATE nav.roadmap_items SET active_revision_id = v_rev_id, updated_at=_ts WHERE item_id = v_item_id;

    v_fields := COALESCE(_payload->'fields','{}'::jsonb);
    IF v_fields <> '{}'::jsonb THEN
      UPDATE nav.roadmap_items SET
        title       = COALESCE(v_fields->>'title', title),
        summary     = COALESCE(v_fields->>'summary', summary),
        tech_hints  = COALESCE(v_fields->'tech_hints', tech_hints),
        deliverable = COALESCE(v_fields->>'deliverable', deliverable),
        priority    = COALESCE((v_fields->>'priority')::int, priority),
        status      = COALESCE(v_fields->>'status', status),
        owner       = COALESCE(v_fields->>'owner', owner),
        order_index = COALESCE((v_fields->>'order_index')::int, order_index),
        updated_at  = _ts
      WHERE item_id = v_item_id;
    END IF;
  END IF;

  PERFORM nav.rebuild_tree();
END;
$$;


ALTER FUNCTION nav.project_roadmap_event(_id bigint, _ts timestamp with time zone, _type text, _payload jsonb) OWNER TO crd_user;

--
-- Name: rebuild_tree(); Type: FUNCTION; Schema: nav; Owner: crd_user
--

CREATE FUNCTION nav.rebuild_tree() RETURNS void
    LANGUAGE plpgsql
    AS $$
BEGIN
  BEGIN
    REFRESH MATERIALIZED VIEW nav.roadmap_tree_view;
  EXCEPTION WHEN undefined_table THEN
    -- ╨£╨░╤é╨▓╤î╤Ä ╨╝╨╛╨╢╨╡╤é ╨╡╤ë╤æ ╨╜╨╡ ╤ü╤â╤ë╨╡╤ü╤é╨▓╨╛╨▓╨░╤é╤î: ╨▒╨╡╨╖╨╛╨┐╨░╤ü╨╜╨╛ ╨╕╨│╨╜╨╛╤Ç╨╕╤Ç╤â╨╡╨╝
    NULL;
  END;
END; $$;


ALTER FUNCTION nav.rebuild_tree() OWNER TO crd_user;

--
-- Name: refresh_roadmap_tree_view(); Type: FUNCTION; Schema: nav; Owner: crd_user
--

CREATE FUNCTION nav.refresh_roadmap_tree_view() RETURNS void
    LANGUAGE plpgsql
    AS $$BEGIN REFRESH MATERIALIZED VIEW nav.roadmap_tree_view; END;$$;


ALTER FUNCTION nav.refresh_roadmap_tree_view() OWNER TO crd_user;

--
-- Name: set_offset(text, bigint); Type: FUNCTION; Schema: nav; Owner: crd_user
--

CREATE FUNCTION nav.set_offset(_name text, _id bigint) RETURNS void
    LANGUAGE plpgsql
    AS $$
BEGIN
  INSERT INTO nav.projector_offset(projector_name,last_event_id,updated_at)
  VALUES(_name,_id,NOW())
  ON CONFLICT(projector_name) DO UPDATE
  SET last_event_id = EXCLUDED.last_event_id,
      updated_at    = NOW();
END; $$;


ALTER FUNCTION nav.set_offset(_name text, _id bigint) OWNER TO crd_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: error_log; Type: TABLE; Schema: core; Owner: crd_user
--

CREATE TABLE core.error_log (
    incident_id bigint NOT NULL,
    ts timestamp with time zone DEFAULT now() NOT NULL,
    source_service text NOT NULL,
    stage text NOT NULL,
    error_code text,
    task_code text,
    job_id bigint,
    event_id bigint,
    path text,
    message text,
    details jsonb DEFAULT '{}'::jsonb NOT NULL,
    CONSTRAINT error_log_stage_check CHECK ((stage = ANY (ARRAY['planner'::text, 'orchestrator'::text, 'engineer'::text, 'curator'::text, 'github'::text, 'executor'::text, 'metrics'::text, 'collector'::text, 'backtester'::text])))
);


ALTER TABLE core.error_log OWNER TO crd_user;

--
-- Name: error_log_incident_id_seq; Type: SEQUENCE; Schema: core; Owner: crd_user
--

CREATE SEQUENCE core.error_log_incident_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE core.error_log_incident_id_seq OWNER TO crd_user;

--
-- Name: error_log_incident_id_seq; Type: SEQUENCE OWNED BY; Schema: core; Owner: crd_user
--

ALTER SEQUENCE core.error_log_incident_id_seq OWNED BY core.error_log.incident_id;


--
-- Name: events; Type: TABLE; Schema: core; Owner: crd_user
--

CREATE TABLE core.events (
    id bigint NOT NULL,
    ts timestamp with time zone DEFAULT now() NOT NULL,
    source text NOT NULL,
    type text NOT NULL,
    job_id text,
    payload jsonb
);


ALTER TABLE core.events OWNER TO crd_user;

--
-- Name: events_id_seq; Type: SEQUENCE; Schema: core; Owner: crd_user
--

CREATE SEQUENCE core.events_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE core.events_id_seq OWNER TO crd_user;

--
-- Name: events_id_seq; Type: SEQUENCE OWNED BY; Schema: core; Owner: crd_user
--

ALTER SEQUENCE core.events_id_seq OWNED BY core.events.id;


--
-- Name: jobs; Type: TABLE; Schema: core; Owner: crd_user
--

CREATE TABLE core.jobs (
    job_id text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    started_at timestamp with time zone,
    finished_at timestamp with time zone,
    status text NOT NULL,
    source text NOT NULL,
    task_type text NOT NULL,
    meta jsonb,
    result jsonb,
    error_message text,
    CONSTRAINT jobs_status_check CHECK ((status = ANY (ARRAY['pending'::text, 'running'::text, 'success'::text, 'failed'::text, 'cancelled'::text])))
);


ALTER TABLE core.jobs OWNER TO crd_user;

--
-- Name: patches; Type: TABLE; Schema: core; Owner: crd_user
--

CREATE TABLE core.patches (
    id bigint NOT NULL,
    job_id text,
    idempotency_key text NOT NULL,
    target_path text NOT NULL,
    code_sha256 text NOT NULL,
    status text NOT NULL,
    result jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE core.patches OWNER TO crd_user;

--
-- Name: patches_id_seq; Type: SEQUENCE; Schema: core; Owner: crd_user
--

CREATE SEQUENCE core.patches_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE core.patches_id_seq OWNER TO crd_user;

--
-- Name: patches_id_seq; Type: SEQUENCE OWNED BY; Schema: core; Owner: crd_user
--

ALTER SEQUENCE core.patches_id_seq OWNED BY core.patches.id;


--
-- Name: projector_offsets; Type: TABLE; Schema: core; Owner: crd_user
--

CREATE TABLE core.projector_offsets (
    projector_name text NOT NULL,
    last_event_id bigint DEFAULT 0 NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT projector_offsets_last_event_id_check CHECK ((last_event_id >= 0))
);


ALTER TABLE core.projector_offsets OWNER TO crd_user;

--
-- Name: runtime_flags; Type: TABLE; Schema: core; Owner: crd_user
--

CREATE TABLE core.runtime_flags (
    flag_name text NOT NULL,
    is_enabled boolean DEFAULT false NOT NULL,
    meta jsonb DEFAULT '{}'::jsonb NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE core.runtime_flags OWNER TO crd_user;

--
-- Name: v_bot_events; Type: VIEW; Schema: core; Owner: crd_user
--

CREATE VIEW core.v_bot_events AS
 SELECT id,
    ts,
    source,
    type,
    job_id,
    payload
   FROM core.events
  WHERE (type ~~ 'bot.%'::text);


ALTER VIEW core.v_bot_events OWNER TO crd_user;

--
-- Name: v_llm_events; Type: VIEW; Schema: core; Owner: crd_user
--

CREATE VIEW core.v_llm_events AS
 SELECT id,
    ts,
    source,
    type,
    job_id,
    payload
   FROM core.events
  WHERE (type ~~ 'llm.%'::text);


ALTER VIEW core.v_llm_events OWNER TO crd_user;

--
-- Name: agent_progress; Type: TABLE; Schema: eng_it; Owner: crd_user
--

CREATE TABLE eng_it.agent_progress (
    id bigint NOT NULL,
    task_code text,
    agent_name text NOT NULL,
    status eng_it.status_t DEFAULT 'planned'::eng_it.status_t,
    progress_percent integer DEFAULT 0,
    evidence_uri text,
    notes text,
    started_at timestamp with time zone,
    finished_at timestamp with time zone,
    blockers text[],
    next_steps text[]
);


ALTER TABLE eng_it.agent_progress OWNER TO crd_user;

--
-- Name: agent_progress_id_seq; Type: SEQUENCE; Schema: eng_it; Owner: crd_user
--

CREATE SEQUENCE eng_it.agent_progress_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE eng_it.agent_progress_id_seq OWNER TO crd_user;

--
-- Name: agent_progress_id_seq; Type: SEQUENCE OWNED BY; Schema: eng_it; Owner: crd_user
--

ALTER SEQUENCE eng_it.agent_progress_id_seq OWNED BY eng_it.agent_progress.id;


--
-- Name: artifacts; Type: TABLE; Schema: eng_it; Owner: crd_user
--

CREATE TABLE eng_it.artifacts (
    id bigint NOT NULL,
    task_id text,
    kind text NOT NULL,
    path text NOT NULL,
    meta jsonb,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE eng_it.artifacts OWNER TO crd_user;

--
-- Name: artifacts_id_seq; Type: SEQUENCE; Schema: eng_it; Owner: crd_user
--

CREATE SEQUENCE eng_it.artifacts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE eng_it.artifacts_id_seq OWNER TO crd_user;

--
-- Name: artifacts_id_seq; Type: SEQUENCE OWNED BY; Schema: eng_it; Owner: crd_user
--

ALTER SEQUENCE eng_it.artifacts_id_seq OWNED BY eng_it.artifacts.id;


--
-- Name: curator_rationale; Type: TABLE; Schema: eng_it; Owner: crd_user
--

CREATE TABLE eng_it.curator_rationale (
    id bigint NOT NULL,
    task_id text,
    rca jsonb,
    mentor_tips jsonb,
    policy_report jsonb,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE eng_it.curator_rationale OWNER TO crd_user;

--
-- Name: curator_rationale_id_seq; Type: SEQUENCE; Schema: eng_it; Owner: crd_user
--

CREATE SEQUENCE eng_it.curator_rationale_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE eng_it.curator_rationale_id_seq OWNER TO crd_user;

--
-- Name: curator_rationale_id_seq; Type: SEQUENCE OWNED BY; Schema: eng_it; Owner: crd_user
--

ALTER SEQUENCE eng_it.curator_rationale_id_seq OWNED BY eng_it.curator_rationale.id;


--
-- Name: evidence_artifacts; Type: TABLE; Schema: eng_it; Owner: crd_user
--

CREATE TABLE eng_it.evidence_artifacts (
    id bigint NOT NULL,
    kind text NOT NULL,
    path_or_query text NOT NULL,
    result_hash text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE eng_it.evidence_artifacts OWNER TO crd_user;

--
-- Name: evidence_artifacts_id_seq; Type: SEQUENCE; Schema: eng_it; Owner: crd_user
--

CREATE SEQUENCE eng_it.evidence_artifacts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE eng_it.evidence_artifacts_id_seq OWNER TO crd_user;

--
-- Name: evidence_artifacts_id_seq; Type: SEQUENCE OWNED BY; Schema: eng_it; Owner: crd_user
--

ALTER SEQUENCE eng_it.evidence_artifacts_id_seq OWNED BY eng_it.evidence_artifacts.id;


--
-- Name: job_queue; Type: TABLE; Schema: eng_it; Owner: crd_user
--

CREATE TABLE eng_it.job_queue (
    id bigint NOT NULL,
    task_id text,
    job_type text NOT NULL,
    payload jsonb,
    status text DEFAULT 'queued'::text NOT NULL,
    attempts integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE eng_it.job_queue OWNER TO crd_user;

--
-- Name: job_queue_id_seq; Type: SEQUENCE; Schema: eng_it; Owner: crd_user
--

CREATE SEQUENCE eng_it.job_queue_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE eng_it.job_queue_id_seq OWNER TO crd_user;

--
-- Name: job_queue_id_seq; Type: SEQUENCE OWNED BY; Schema: eng_it; Owner: crd_user
--

ALTER SEQUENCE eng_it.job_queue_id_seq OWNED BY eng_it.job_queue.id;


--
-- Name: kurator_verifications; Type: TABLE; Schema: eng_it; Owner: crd_user
--

CREATE TABLE eng_it.kurator_verifications (
    verification_id uuid DEFAULT gen_random_uuid() NOT NULL,
    tz_id uuid NOT NULL,
    task_id uuid,
    kurator_signature character varying(100) NOT NULL,
    artifacts jsonb,
    snapshot_data jsonb,
    verification_notes text,
    status character varying(50) NOT NULL,
    verified_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    next_verification_date timestamp without time zone,
    CONSTRAINT kurator_verifications_status_check CHECK (((status)::text = ANY ((ARRAY['APPROVED'::character varying, 'REJECTED'::character varying, 'PENDING'::character varying])::text[])))
);


ALTER TABLE eng_it.kurator_verifications OWNER TO crd_user;

--
-- Name: patch_events; Type: TABLE; Schema: eng_it; Owner: crd_user
--

CREATE TABLE eng_it.patch_events (
    id integer NOT NULL,
    patch_id uuid NOT NULL,
    ts timestamp with time zone DEFAULT now(),
    event_type text NOT NULL,
    payload jsonb
);


ALTER TABLE eng_it.patch_events OWNER TO crd_user;

--
-- Name: patch_events_id_seq; Type: SEQUENCE; Schema: eng_it; Owner: crd_user
--

CREATE SEQUENCE eng_it.patch_events_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE eng_it.patch_events_id_seq OWNER TO crd_user;

--
-- Name: patch_events_id_seq; Type: SEQUENCE OWNED BY; Schema: eng_it; Owner: crd_user
--

ALTER SEQUENCE eng_it.patch_events_id_seq OWNED BY eng_it.patch_events.id;


--
-- Name: patches; Type: TABLE; Schema: eng_it; Owner: crd_user
--

CREATE TABLE eng_it.patches (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    task_id uuid,
    author text NOT NULL,
    created_at timestamp with time zone DEFAULT now(),
    filename text NOT NULL,
    content bytea NOT NULL,
    sha256 text NOT NULL,
    status text DEFAULT 'submitted'::text NOT NULL,
    approve_token text,
    curator_notes text,
    applied_at timestamp with time zone,
    rollback_at timestamp with time zone,
    meta jsonb
);


ALTER TABLE eng_it.patches OWNER TO crd_user;

--
-- Name: progress_navigator; Type: TABLE; Schema: eng_it; Owner: crd_user
--

CREATE TABLE eng_it.progress_navigator (
    id bigint NOT NULL,
    task_code text NOT NULL,
    title text NOT NULL,
    description text,
    level eng_it.maturity_level NOT NULL,
    module text NOT NULL,
    priority integer DEFAULT 5 NOT NULL,
    status eng_it.status_t DEFAULT 'planned'::eng_it.status_t,
    estimated_hours integer,
    actual_hours integer,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE eng_it.progress_navigator OWNER TO crd_user;

--
-- Name: progress_navigator_id_seq; Type: SEQUENCE; Schema: eng_it; Owner: crd_user
--

CREATE SEQUENCE eng_it.progress_navigator_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE eng_it.progress_navigator_id_seq OWNER TO crd_user;

--
-- Name: progress_navigator_id_seq; Type: SEQUENCE OWNED BY; Schema: eng_it; Owner: crd_user
--

ALTER SEQUENCE eng_it.progress_navigator_id_seq OWNED BY eng_it.progress_navigator.id;


--
-- Name: roadmap_tz_mapping; Type: TABLE; Schema: eng_it; Owner: crd_user
--

CREATE TABLE eng_it.roadmap_tz_mapping (
    mapping_id uuid DEFAULT gen_random_uuid() NOT NULL,
    roadmap_task character varying(500) NOT NULL,
    roadmap_task_id character varying(100) NOT NULL,
    tz_id uuid NOT NULL,
    navigator_task_id uuid,
    mapping_type character varying(50) DEFAULT 'DIRECT'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE eng_it.roadmap_tz_mapping OWNER TO crd_user;

--
-- Name: system_snapshots; Type: TABLE; Schema: eng_it; Owner: crd_user
--

CREATE TABLE eng_it.system_snapshots (
    id bigint NOT NULL,
    snapshot_name text NOT NULL,
    description text,
    task_code text,
    database_schema jsonb,
    agent_configs jsonb,
    active_tasks jsonb,
    created_at timestamp with time zone DEFAULT now(),
    is_stable boolean DEFAULT true,
    snapshot_ts timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE eng_it.system_snapshots OWNER TO crd_user;

--
-- Name: system_snapshots_id_seq; Type: SEQUENCE; Schema: eng_it; Owner: crd_user
--

CREATE SEQUENCE eng_it.system_snapshots_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE eng_it.system_snapshots_id_seq OWNER TO crd_user;

--
-- Name: system_snapshots_id_seq; Type: SEQUENCE OWNED BY; Schema: eng_it; Owner: crd_user
--

ALTER SEQUENCE eng_it.system_snapshots_id_seq OWNED BY eng_it.system_snapshots.id;


--
-- Name: task_dependencies; Type: TABLE; Schema: eng_it; Owner: crd_user
--

CREATE TABLE eng_it.task_dependencies (
    id bigint NOT NULL,
    task_code text,
    depends_on_task_code text,
    dependency_type text DEFAULT 'hard'::text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE eng_it.task_dependencies OWNER TO crd_user;

--
-- Name: task_dependencies_id_seq; Type: SEQUENCE; Schema: eng_it; Owner: crd_user
--

CREATE SEQUENCE eng_it.task_dependencies_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE eng_it.task_dependencies_id_seq OWNER TO crd_user;

--
-- Name: task_dependencies_id_seq; Type: SEQUENCE OWNED BY; Schema: eng_it; Owner: crd_user
--

ALTER SEQUENCE eng_it.task_dependencies_id_seq OWNED BY eng_it.task_dependencies.id;


--
-- Name: task_history; Type: TABLE; Schema: eng_it; Owner: crd_user
--

CREATE TABLE eng_it.task_history (
    id bigint NOT NULL,
    task_id text,
    from_status text,
    to_status text,
    changed_at timestamp with time zone DEFAULT now(),
    actor text,
    note text
);


ALTER TABLE eng_it.task_history OWNER TO crd_user;

--
-- Name: task_history_id_seq; Type: SEQUENCE; Schema: eng_it; Owner: crd_user
--

CREATE SEQUENCE eng_it.task_history_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE eng_it.task_history_id_seq OWNER TO crd_user;

--
-- Name: task_history_id_seq; Type: SEQUENCE OWNED BY; Schema: eng_it; Owner: crd_user
--

ALTER SEQUENCE eng_it.task_history_id_seq OWNED BY eng_it.task_history.id;


--
-- Name: task_verdicts; Type: TABLE; Schema: eng_it; Owner: crd_user
--

CREATE TABLE eng_it.task_verdicts (
    id bigint NOT NULL,
    task_title text NOT NULL,
    rev_id uuid NOT NULL,
    status text NOT NULL,
    evidence_id bigint,
    verdict_ts timestamp with time zone DEFAULT now(),
    CONSTRAINT task_verdicts_status_check CHECK ((status = ANY (ARRAY['planned'::text, 'in_progress'::text, 'done'::text])))
);


ALTER TABLE eng_it.task_verdicts OWNER TO crd_user;

--
-- Name: task_verdicts_id_seq; Type: SEQUENCE; Schema: eng_it; Owner: crd_user
--

CREATE SEQUENCE eng_it.task_verdicts_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE eng_it.task_verdicts_id_seq OWNER TO crd_user;

--
-- Name: task_verdicts_id_seq; Type: SEQUENCE OWNED BY; Schema: eng_it; Owner: crd_user
--

ALTER SEQUENCE eng_it.task_verdicts_id_seq OWNED BY eng_it.task_verdicts.id;


--
-- Name: tasks; Type: TABLE; Schema: eng_it; Owner: crd_user
--

CREATE TABLE eng_it.tasks (
    id text NOT NULL,
    title text NOT NULL,
    status text NOT NULL,
    owner text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    progress_notes text,
    CONSTRAINT tasks_status_check CHECK ((status = ANY (ARRAY['planned'::text, 'in_progress'::text, 'done'::text, 'blocked'::text])))
);


ALTER TABLE eng_it.tasks OWNER TO crd_user;

--
-- Name: technical_specifications; Type: TABLE; Schema: eng_it; Owner: crd_user
--

CREATE TABLE eng_it.technical_specifications (
    tz_id uuid DEFAULT gen_random_uuid() NOT NULL,
    roadmap_task_id character varying(100) NOT NULL,
    tz_title character varying(500) NOT NULL,
    tz_description text,
    tz_steps jsonb,
    tz_priority character varying(20),
    status character varying(50) DEFAULT 'PLANNED'::character varying NOT NULL,
    estimated_hours integer,
    actual_hours integer,
    created_by character varying(100) DEFAULT 'Bot_Orchestrator'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    kurator_verified boolean DEFAULT false,
    verification_date timestamp without time zone,
    spec_content text,
    CONSTRAINT technical_specifications_status_check CHECK (((status)::text = ANY ((ARRAY['PLANNED'::character varying, 'IN_PROGRESS'::character varying, 'DONE'::character varying, 'BLOCKED'::character varying, 'VALIDATED'::character varying])::text[]))),
    CONSTRAINT technical_specifications_tz_priority_check CHECK (((tz_priority)::text = ANY ((ARRAY['LOW'::character varying, 'MEDIUM'::character varying, 'HIGH'::character varying, 'CRITICAL'::character varying])::text[])))
);


ALTER TABLE eng_it.technical_specifications OWNER TO crd_user;

--
-- Name: truth_revisions; Type: TABLE; Schema: eng_it; Owner: crd_user
--

CREATE TABLE eng_it.truth_revisions (
    rev_id uuid DEFAULT gen_random_uuid() NOT NULL,
    file_path text NOT NULL,
    sha256 text NOT NULL,
    commit_sha text,
    committed_at timestamp with time zone DEFAULT now(),
    actor text,
    is_active boolean DEFAULT false NOT NULL
);


ALTER TABLE eng_it.truth_revisions OWNER TO crd_user;

--
-- Name: tz_change_history; Type: TABLE; Schema: eng_it; Owner: crd_user
--

CREATE TABLE eng_it.tz_change_history (
    change_id uuid DEFAULT gen_random_uuid() NOT NULL,
    tz_id uuid NOT NULL,
    changed_by character varying(100) NOT NULL,
    change_type character varying(50) NOT NULL,
    old_values jsonb,
    new_values jsonb,
    change_reason text,
    changed_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE eng_it.tz_change_history OWNER TO crd_user;

--
-- Name: v_curator_dashboard; Type: VIEW; Schema: eng_it; Owner: crd_user
--

CREATE VIEW eng_it.v_curator_dashboard AS
 SELECT t.id,
    t.title,
    t.status,
    j.job_type,
    j.status AS job_status,
    a.kind,
    a.path,
    h.changed_at
   FROM (((eng_it.tasks t
     LEFT JOIN eng_it.job_queue j ON ((j.task_id = t.id)))
     LEFT JOIN eng_it.artifacts a ON ((a.task_id = t.id)))
     LEFT JOIN eng_it.task_history h ON ((h.task_id = t.id)));


ALTER VIEW eng_it.v_curator_dashboard OWNER TO crd_user;

--
-- Name: v_progress_matrix; Type: VIEW; Schema: eng_it; Owner: crd_user
--

CREATE VIEW eng_it.v_progress_matrix AS
 SELECT pn.task_code,
    pn.title,
    pn.level,
    pn.module,
    pn.priority,
    pn.status AS overall_status,
    max(
        CASE
            WHEN (ap.agent_name = 'orchestrator'::text) THEN ap.status
            ELSE NULL::eng_it.status_t
        END) AS orchestrator,
    max(
        CASE
            WHEN (ap.agent_name = 'orchestrator'::text) THEN ap.progress_percent
            ELSE NULL::integer
        END) AS orchestrator_pct,
    max(
        CASE
            WHEN (ap.agent_name = 'coder'::text) THEN ap.status
            ELSE NULL::eng_it.status_t
        END) AS coder,
    max(
        CASE
            WHEN (ap.agent_name = 'coder'::text) THEN ap.progress_percent
            ELSE NULL::integer
        END) AS coder_pct,
    max(
        CASE
            WHEN (ap.agent_name = 'curator'::text) THEN ap.status
            ELSE NULL::eng_it.status_t
        END) AS curator,
    max(
        CASE
            WHEN (ap.agent_name = 'curator'::text) THEN ap.progress_percent
            ELSE NULL::integer
        END) AS curator_pct,
    max(
        CASE
            WHEN (ap.agent_name = 'medic'::text) THEN ap.status
            ELSE NULL::eng_it.status_t
        END) AS medic,
    max(
        CASE
            WHEN (ap.agent_name = 'medic'::text) THEN ap.progress_percent
            ELSE NULL::integer
        END) AS medic_pct,
    pn.estimated_hours,
    pn.actual_hours,
    count(td.id) AS dependency_count
   FROM ((eng_it.progress_navigator pn
     LEFT JOIN eng_it.agent_progress ap ON ((pn.task_code = ap.task_code)))
     LEFT JOIN eng_it.task_dependencies td ON ((pn.task_code = td.task_code)))
  GROUP BY pn.task_code, pn.title, pn.level, pn.module, pn.priority, pn.status, pn.estimated_hours, pn.actual_hours;


ALTER VIEW eng_it.v_progress_matrix OWNER TO crd_user;

--
-- Name: v_self_building_metrics; Type: VIEW; Schema: eng_it; Owner: crd_user
--

CREATE VIEW eng_it.v_self_building_metrics AS
 SELECT count(*) AS total_tasks,
    count(*) FILTER (WHERE (status = 'passed'::eng_it.status_t)) AS completed_tasks,
    count(*) FILTER (WHERE (status = 'failed'::eng_it.status_t)) AS failed_tasks,
    count(*) FILTER (WHERE (status = 'in_progress'::eng_it.status_t)) AS active_tasks,
    avg(actual_hours) FILTER (WHERE (status = 'passed'::eng_it.status_t)) AS avg_completion_hours,
    sum(estimated_hours) AS total_estimated_hours,
    sum(actual_hours) AS total_actual_hours,
        CASE
            WHEN (sum(estimated_hours) > 0) THEN (((sum(actual_hours))::numeric * 100.0) / (sum(estimated_hours))::numeric)
            ELSE (100)::numeric
        END AS planning_accuracy_percent
   FROM eng_it.progress_navigator;


ALTER VIEW eng_it.v_self_building_metrics OWNER TO crd_user;

--
-- Name: v_truth_matrix; Type: VIEW; Schema: eng_it; Owner: crd_user
--

CREATE VIEW eng_it.v_truth_matrix AS
 SELECT t.title,
    t.status AS navigator_status,
    tv.status AS verified_status,
    (tv.evidence_id IS NOT NULL) AS has_evidence,
    tv.verdict_ts,
    tr.sha256,
    tr.file_path
   FROM ((eng_it.tasks t
     LEFT JOIN LATERAL ( SELECT tv1.id,
            tv1.task_title,
            tv1.rev_id,
            tv1.status,
            tv1.evidence_id,
            tv1.verdict_ts
           FROM eng_it.task_verdicts tv1
          WHERE (tv1.task_title = t.title)
          ORDER BY tv1.verdict_ts DESC
         LIMIT 1) tv ON (true))
     LEFT JOIN eng_it.truth_revisions tr ON ((tr.rev_id = tv.rev_id)));


ALTER VIEW eng_it.v_truth_matrix OWNER TO crd_user;

--
-- Name: v_unresolved_tasks; Type: VIEW; Schema: eng_it; Owner: crd_user
--

CREATE VIEW eng_it.v_unresolved_tasks AS
 SELECT id,
    title,
    status,
    owner,
    created_at,
    updated_at
   FROM eng_it.tasks
  WHERE (status = ANY (ARRAY['unresolved'::text, 'needs_info'::text, 'parked'::text]));


ALTER VIEW eng_it.v_unresolved_tasks OWNER TO crd_user;

--
-- Name: vw_technical_specifications_full; Type: VIEW; Schema: eng_it; Owner: crd_user
--

CREATE VIEW eng_it.vw_technical_specifications_full AS
 SELECT ts.tz_id,
    ts.roadmap_task_id,
    ts.tz_title,
    ts.tz_description,
    ts.tz_steps,
    ts.tz_priority,
    ts.status,
    ts.estimated_hours,
    ts.actual_hours,
    ts.created_by,
    ts.created_at,
    ts.updated_at,
    ts.kurator_verified,
    ts.verification_date,
    rtm.roadmap_task,
    rtm.navigator_task_id,
    kv.status AS kurator_status,
    kv.verified_at AS last_verification_date
   FROM ((eng_it.technical_specifications ts
     LEFT JOIN eng_it.roadmap_tz_mapping rtm ON ((ts.tz_id = rtm.tz_id)))
     LEFT JOIN eng_it.kurator_verifications kv ON (((ts.tz_id = kv.tz_id) AND (kv.verified_at = ( SELECT max(kurator_verifications.verified_at) AS max
           FROM eng_it.kurator_verifications
          WHERE (kurator_verifications.tz_id = ts.tz_id))))));


ALTER VIEW eng_it.vw_technical_specifications_full OWNER TO crd_user;

--
-- Name: vw_tz_statistics; Type: VIEW; Schema: eng_it; Owner: crd_user
--

CREATE VIEW eng_it.vw_tz_statistics AS
 SELECT status,
    count(*) AS task_count,
    avg(estimated_hours) AS avg_estimated_hours,
    avg(actual_hours) AS avg_actual_hours,
    sum(
        CASE
            WHEN kurator_verified THEN 1
            ELSE 0
        END) AS verified_count
   FROM eng_it.technical_specifications
  GROUP BY status;


ALTER VIEW eng_it.vw_tz_statistics OWNER TO crd_user;

--
-- Name: kurator_checks; Type: TABLE; Schema: nav; Owner: crd_user
--

CREATE TABLE nav.kurator_checks (
    check_id uuid DEFAULT gen_random_uuid() NOT NULL,
    policy_id uuid NOT NULL,
    target_type text NOT NULL,
    target_id uuid NOT NULL,
    check_passed boolean NOT NULL,
    check_message text,
    checked_at timestamp with time zone DEFAULT now() NOT NULL,
    checked_by text DEFAULT 'system'::text NOT NULL,
    CONSTRAINT kurator_checks_target_type_check CHECK ((target_type = ANY (ARRAY['roadmap_revision'::text, 'technical_task'::text])))
);


ALTER TABLE nav.kurator_checks OWNER TO crd_user;

--
-- Name: TABLE kurator_checks; Type: COMMENT; Schema: nav; Owner: crd_user
--

COMMENT ON TABLE nav.kurator_checks IS '╨á╨╡╨╖╤â╨╗╤î╤é╨░╤é╤ï ╨┐╤Ç╨╛╨▓╨╡╤Ç╨╛╨║ Kurator';


--
-- Name: kurator_policies; Type: TABLE; Schema: nav; Owner: crd_user
--

CREATE TABLE nav.kurator_policies (
    policy_id uuid DEFAULT gen_random_uuid() NOT NULL,
    policy_name text NOT NULL,
    policy_type text NOT NULL,
    description text,
    rule_condition jsonb NOT NULL,
    severity text NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT kurator_policies_policy_type_check CHECK ((policy_type = ANY (ARRAY['roadmap_revision'::text, 'technical_task'::text, 'security'::text, 'path_validation'::text]))),
    CONSTRAINT kurator_policies_severity_check CHECK ((severity = ANY (ARRAY['blocking'::text, 'warning'::text, 'info'::text])))
);


ALTER TABLE nav.kurator_policies OWNER TO crd_user;

--
-- Name: TABLE kurator_policies; Type: COMMENT; Schema: nav; Owner: crd_user
--

COMMENT ON TABLE nav.kurator_policies IS '╨ƒ╨╛╨╗╨╕╤é╨╕╨║╨╕ ╨╕ ╨┐╤Ç╨░╨▓╨╕╨╗╨░ ╨┐╤Ç╨╛╨▓╨╡╤Ç╨║╨╕ Kurator';


--
-- Name: roadmap_items; Type: TABLE; Schema: nav; Owner: crd_user
--

CREATE TABLE nav.roadmap_items (
    item_id uuid NOT NULL,
    parent_id uuid,
    title text NOT NULL,
    summary text,
    tech_hints jsonb DEFAULT '[]'::jsonb,
    deliverable text,
    priority integer DEFAULT 3,
    status text,
    owner text,
    order_index integer DEFAULT 100,
    active_revision_id uuid,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    CONSTRAINT roadmap_items_owner_check CHECK ((owner = ANY (ARRAY['bot'::text, 'engineer_b'::text, 'user'::text, 'mixed'::text]))),
    CONSTRAINT roadmap_items_status_check CHECK ((status = ANY (ARRAY['planned'::text, 'in_progress'::text, 'blocked'::text, 'done'::text])))
);


ALTER TABLE nav.roadmap_items OWNER TO crd_user;

--
-- Name: navigator_items_ordered; Type: VIEW; Schema: nav; Owner: crd_user
--

CREATE VIEW nav.navigator_items_ordered AS
 SELECT item_id,
    parent_id,
    title,
    status,
    priority,
    owner,
    order_index,
    active_revision_id,
    created_at,
    updated_at
   FROM nav.roadmap_items
  ORDER BY order_index, created_at;


ALTER VIEW nav.navigator_items_ordered OWNER TO crd_user;

--
-- Name: navigator_plan; Type: VIEW; Schema: nav; Owner: crd_user
--

CREATE VIEW nav.navigator_plan AS
 SELECT (count(*))::integer AS total_items,
    (count(*) FILTER (WHERE (status = 'planned'::text)))::integer AS planned,
    (count(*) FILTER (WHERE (status = 'in_progress'::text)))::integer AS in_progress,
    (count(*) FILTER (WHERE (status = 'blocked'::text)))::integer AS blocked,
    (count(*) FILTER (WHERE (status = 'done'::text)))::integer AS done,
        CASE
            WHEN (count(*) = 0) THEN 0.0
            ELSE round(((100.0 * (count(*) FILTER (WHERE (status = 'done'::text)))::numeric) / (count(*))::numeric), 2)
        END AS progress_pct
   FROM nav.roadmap_items;


ALTER VIEW nav.navigator_plan OWNER TO crd_user;

--
-- Name: navigator_tasks_link; Type: VIEW; Schema: nav; Owner: crd_user
--

CREATE VIEW nav.navigator_tasks_link AS
 SELECT j.job_id,
    j.task_type,
    j.status AS job_status,
    j.created_at,
    j.finished_at,
    (j.meta ->> 'tz_id'::text) AS tz_id,
    (j.meta ->> 'correlation_id'::text) AS correlation_id,
    (j.meta ->> 'item_id'::text) AS item_id,
    i.title,
    i.status AS roadmap_status,
    i.priority,
    i.owner,
    i.order_index
   FROM (core.jobs j
     LEFT JOIN nav.roadmap_items i ON (((i.item_id)::text = (j.meta ->> 'item_id'::text))))
  WHERE (j.task_type = 'engineer_tz'::text)
  ORDER BY j.created_at DESC;


ALTER VIEW nav.navigator_tasks_link OWNER TO crd_user;

--
-- Name: projector_offset; Type: TABLE; Schema: nav; Owner: crd_user
--

CREATE TABLE nav.projector_offset (
    projector_name text NOT NULL,
    last_event_id bigint DEFAULT 0 NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE nav.projector_offset OWNER TO crd_user;

--
-- Name: roadmap_revisions; Type: TABLE; Schema: nav; Owner: crd_user
--

CREATE TABLE nav.roadmap_revisions (
    revision_id uuid NOT NULL,
    item_id uuid,
    version_tag text,
    diff_type text,
    payload_md_ref text,
    approved boolean DEFAULT false,
    approved_by text,
    created_at timestamp with time zone DEFAULT now(),
    CONSTRAINT roadmap_revisions_diff_type_check CHECK ((diff_type = ANY (ARRAY['append'::text, 'edit'::text, 'reorder'::text, 'status_update'::text])))
);


ALTER TABLE nav.roadmap_revisions OWNER TO crd_user;

--
-- Name: roadmap_tree_view; Type: MATERIALIZED VIEW; Schema: nav; Owner: crd_user
--

CREATE MATERIALIZED VIEW nav.roadmap_tree_view AS
 WITH RECURSIVE roadmap_tree AS (
         SELECT roadmap_items.item_id,
            roadmap_items.parent_id,
            roadmap_items.title,
            roadmap_items.summary,
            roadmap_items.tech_hints,
            roadmap_items.deliverable,
            roadmap_items.priority,
            roadmap_items.status,
            roadmap_items.owner,
            roadmap_items.order_index,
            roadmap_items.active_revision_id,
            roadmap_items.created_at,
            roadmap_items.updated_at,
            1 AS level,
            ARRAY[roadmap_items.order_index] AS path,
            roadmap_items.title AS path_titles
           FROM nav.roadmap_items
          WHERE (roadmap_items.parent_id IS NULL)
        UNION ALL
         SELECT ri.item_id,
            ri.parent_id,
            ri.title,
            ri.summary,
            ri.tech_hints,
            ri.deliverable,
            ri.priority,
            ri.status,
            ri.owner,
            ri.order_index,
            ri.active_revision_id,
            ri.created_at,
            ri.updated_at,
            (rt.level + 1) AS level,
            (rt.path || ri.order_index) AS path,
            ((rt.path_titles || ' -> '::text) || ri.title) AS path_titles
           FROM (nav.roadmap_items ri
             JOIN roadmap_tree rt ON ((ri.parent_id = rt.item_id)))
          WHERE (ri.parent_id IS NOT NULL)
        )
 SELECT item_id,
    parent_id,
    title,
    summary,
    tech_hints,
    deliverable,
    priority,
    status,
    owner,
    order_index,
    active_revision_id,
    created_at,
    updated_at,
    level,
    path,
    path_titles
   FROM roadmap_tree
  ORDER BY path
  WITH NO DATA;


ALTER MATERIALIZED VIEW nav.roadmap_tree_view OWNER TO crd_user;

--
-- Name: MATERIALIZED VIEW roadmap_tree_view; Type: COMMENT; Schema: nav; Owner: crd_user
--

COMMENT ON MATERIALIZED VIEW nav.roadmap_tree_view IS '╨ÿ╨╡╤Ç╨░╤Ç╤à╨╕╤ç╨╡╤ü╨║╨╛╨╡ ╨┐╤Ç╨╡╨┤╤ü╤é╨░╨▓╨╗╨╡╨╜╨╕╨╡ ╤ì╨╗╨╡╨╝╨╡╨╜╤é╨╛╨▓ Roadmap ╨┤╨╗╤Å ╨╜╨░╨▓╨╕╨│╨░╤å╨╕╨╕ ╨╕ ╨┐╨╛╤ü╤é╤Ç╨╛╨╡╨╜╨╕╤Å ╨┤╨╡╤Ç╨╡╨▓╨░';


--
-- Name: core_events; Type: TABLE; Schema: public; Owner: crd_user
--

CREATE TABLE public.core_events (
    id uuid NOT NULL,
    ts_utc timestamp with time zone NOT NULL,
    service text NOT NULL,
    stage text NOT NULL,
    event_type text NOT NULL,
    job_id text,
    idempotency_key text,
    context jsonb
);


ALTER TABLE public.core_events OWNER TO crd_user;

--
-- Name: tasks; Type: TABLE; Schema: public; Owner: crd_user
--

CREATE TABLE public.tasks (
    id integer NOT NULL,
    user_id character varying(64) NOT NULL,
    task_description text NOT NULL,
    status character varying(32) NOT NULL,
    error_message text,
    created_at timestamp without time zone NOT NULL,
    started_at timestamp without time zone,
    completed_at timestamp without time zone,
    updated_at timestamp without time zone NOT NULL,
    generated_code text,
    test_results jsonb,
    deployment_ready boolean NOT NULL
);


ALTER TABLE public.tasks OWNER TO crd_user;

--
-- Name: tasks_id_seq; Type: SEQUENCE; Schema: public; Owner: crd_user
--

CREATE SEQUENCE public.tasks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tasks_id_seq OWNER TO crd_user;

--
-- Name: tasks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: crd_user
--

ALTER SEQUENCE public.tasks_id_seq OWNED BY public.tasks.id;


--
-- Name: pipeline_state_latest; Type: TABLE; Schema: read; Owner: crd_user
--

CREATE TABLE read.pipeline_state_latest (
    aggregate_type text NOT NULL,
    aggregate_id text NOT NULL,
    stage text NOT NULL,
    status text NOT NULL,
    last_event_id bigint DEFAULT 0 NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT pipeline_state_latest_last_event_id_check CHECK ((last_event_id >= 0))
);


ALTER TABLE read.pipeline_state_latest OWNER TO crd_user;

--
-- Name: error_taxonomy; Type: TABLE; Schema: ref; Owner: crd_user
--

CREATE TABLE ref.error_taxonomy (
    error_code text NOT NULL,
    category text NOT NULL,
    severity text NOT NULL,
    description text,
    remediation_hint text,
    CONSTRAINT error_taxonomy_severity_check CHECK ((severity = ANY (ARRAY['low'::text, 'medium'::text, 'high'::text, 'critical'::text])))
);


ALTER TABLE ref.error_taxonomy OWNER TO crd_user;

--
-- Name: event_stage_map; Type: TABLE; Schema: ref; Owner: crd_user
--

CREATE TABLE ref.event_stage_map (
    event_type text NOT NULL,
    stage text NOT NULL,
    status text NOT NULL
);


ALTER TABLE ref.event_stage_map OWNER TO crd_user;

--
-- Name: repo_inventory; Type: TABLE; Schema: ref; Owner: crd_user
--

CREATE TABLE ref.repo_inventory (
    path text NOT NULL,
    service text NOT NULL,
    component text NOT NULL,
    change_policy text NOT NULL,
    criticality text DEFAULT 'medium'::text NOT NULL,
    description text,
    last_seen_commit text,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT repo_inventory_change_policy_check CHECK ((change_policy = ANY (ARRAY['ALLOW_MODIFY'::text, 'ALLOW_APPEND'::text, 'DENY'::text]))),
    CONSTRAINT repo_inventory_criticality_check CHECK ((criticality = ANY (ARRAY['low'::text, 'medium'::text, 'high'::text])))
);


ALTER TABLE ref.repo_inventory OWNER TO crd_user;

--
-- Name: risk_policy; Type: TABLE; Schema: ref; Owner: crd_user
--

CREATE TABLE ref.risk_policy (
    policy_id bigint NOT NULL,
    name text NOT NULL,
    params jsonb DEFAULT '{}'::jsonb NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE ref.risk_policy OWNER TO crd_user;

--
-- Name: risk_policy_policy_id_seq; Type: SEQUENCE; Schema: ref; Owner: crd_user
--

CREATE SEQUENCE ref.risk_policy_policy_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE ref.risk_policy_policy_id_seq OWNER TO crd_user;

--
-- Name: risk_policy_policy_id_seq; Type: SEQUENCE OWNED BY; Schema: ref; Owner: crd_user
--

ALTER SEQUENCE ref.risk_policy_policy_id_seq OWNED BY ref.risk_policy.policy_id;


--
-- Name: stage_dict; Type: TABLE; Schema: ref; Owner: crd_user
--

CREATE TABLE ref.stage_dict (
    stage text NOT NULL,
    ordinal integer NOT NULL,
    CONSTRAINT stage_dict_ordinal_check CHECK ((ordinal >= 0))
);


ALTER TABLE ref.stage_dict OWNER TO crd_user;

--
-- Name: stage_transitions; Type: TABLE; Schema: ref; Owner: crd_user
--

CREATE TABLE ref.stage_transitions (
    from_stage text NOT NULL,
    to_stage text NOT NULL
);


ALTER TABLE ref.stage_transitions OWNER TO crd_user;

--
-- Name: status_dict; Type: TABLE; Schema: ref; Owner: crd_user
--

CREATE TABLE ref.status_dict (
    status text NOT NULL,
    priority integer NOT NULL,
    CONSTRAINT status_dict_priority_check CHECK ((priority >= 0))
);


ALTER TABLE ref.status_dict OWNER TO crd_user;

--
-- Name: strategy_genome; Type: TABLE; Schema: ref; Owner: crd_user
--

CREATE TABLE ref.strategy_genome (
    strategy_id uuid NOT NULL,
    parent_id uuid,
    name text NOT NULL,
    version_tag text NOT NULL,
    code_hash text NOT NULL,
    hyperparams jsonb DEFAULT '{}'::jsonb NOT NULL,
    status text DEFAULT 'draft'::text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT strategy_genome_code_hash_check CHECK ((length(code_hash) > 0)),
    CONSTRAINT strategy_genome_name_check CHECK ((length(name) > 0)),
    CONSTRAINT strategy_genome_status_check CHECK ((status = ANY (ARRAY['draft'::text, 'approved'::text, 'deprecated'::text]))),
    CONSTRAINT strategy_genome_version_tag_check CHECK ((length(version_tag) > 0))
);


ALTER TABLE ref.strategy_genome OWNER TO crd_user;

--
-- Name: error_log incident_id; Type: DEFAULT; Schema: core; Owner: crd_user
--

ALTER TABLE ONLY core.error_log ALTER COLUMN incident_id SET DEFAULT nextval('core.error_log_incident_id_seq'::regclass);


--
-- Name: events id; Type: DEFAULT; Schema: core; Owner: crd_user
--

ALTER TABLE ONLY core.events ALTER COLUMN id SET DEFAULT nextval('core.events_id_seq'::regclass);


--
-- Name: patches id; Type: DEFAULT; Schema: core; Owner: crd_user
--

ALTER TABLE ONLY core.patches ALTER COLUMN id SET DEFAULT nextval('core.patches_id_seq'::regclass);


--
-- Name: agent_progress id; Type: DEFAULT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.agent_progress ALTER COLUMN id SET DEFAULT nextval('eng_it.agent_progress_id_seq'::regclass);


--
-- Name: artifacts id; Type: DEFAULT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.artifacts ALTER COLUMN id SET DEFAULT nextval('eng_it.artifacts_id_seq'::regclass);


--
-- Name: curator_rationale id; Type: DEFAULT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.curator_rationale ALTER COLUMN id SET DEFAULT nextval('eng_it.curator_rationale_id_seq'::regclass);


--
-- Name: evidence_artifacts id; Type: DEFAULT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.evidence_artifacts ALTER COLUMN id SET DEFAULT nextval('eng_it.evidence_artifacts_id_seq'::regclass);


--
-- Name: job_queue id; Type: DEFAULT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.job_queue ALTER COLUMN id SET DEFAULT nextval('eng_it.job_queue_id_seq'::regclass);


--
-- Name: patch_events id; Type: DEFAULT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.patch_events ALTER COLUMN id SET DEFAULT nextval('eng_it.patch_events_id_seq'::regclass);


--
-- Name: progress_navigator id; Type: DEFAULT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.progress_navigator ALTER COLUMN id SET DEFAULT nextval('eng_it.progress_navigator_id_seq'::regclass);


--
-- Name: system_snapshots id; Type: DEFAULT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.system_snapshots ALTER COLUMN id SET DEFAULT nextval('eng_it.system_snapshots_id_seq'::regclass);


--
-- Name: task_dependencies id; Type: DEFAULT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.task_dependencies ALTER COLUMN id SET DEFAULT nextval('eng_it.task_dependencies_id_seq'::regclass);


--
-- Name: task_history id; Type: DEFAULT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.task_history ALTER COLUMN id SET DEFAULT nextval('eng_it.task_history_id_seq'::regclass);


--
-- Name: task_verdicts id; Type: DEFAULT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.task_verdicts ALTER COLUMN id SET DEFAULT nextval('eng_it.task_verdicts_id_seq'::regclass);


--
-- Name: tasks id; Type: DEFAULT; Schema: public; Owner: crd_user
--

ALTER TABLE ONLY public.tasks ALTER COLUMN id SET DEFAULT nextval('public.tasks_id_seq'::regclass);


--
-- Name: risk_policy policy_id; Type: DEFAULT; Schema: ref; Owner: crd_user
--

ALTER TABLE ONLY ref.risk_policy ALTER COLUMN policy_id SET DEFAULT nextval('ref.risk_policy_policy_id_seq'::regclass);


--
-- Data for Name: error_log; Type: TABLE DATA; Schema: core; Owner: crd_user
--

COPY core.error_log (incident_id, ts, source_service, stage, error_code, task_code, job_id, event_id, path, message, details) FROM stdin;
\.


--
-- Data for Name: events; Type: TABLE DATA; Schema: core; Owner: crd_user
--



--
-- Data for Name: jobs; Type: TABLE DATA; Schema: core; Owner: crd_user
--



--
-- Data for Name: patches; Type: TABLE DATA; Schema: core; Owner: crd_user
--

COPY core.patches (id, job_id, idempotency_key, target_path, code_sha256, status, result, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: projector_offsets; Type: TABLE DATA; Schema: core; Owner: crd_user
--

COPY core.projector_offsets (projector_name, last_event_id, updated_at) FROM stdin;
\.


--
-- Data for Name: runtime_flags; Type: TABLE DATA; Schema: core; Owner: crd_user
--

COPY core.runtime_flags (flag_name, is_enabled, meta, updated_at) FROM stdin;
kill_switch	f	{}	2025-10-24 11:23:55.160303+02
\.


--
-- Data for Name: agent_progress; Type: TABLE DATA; Schema: eng_it; Owner: crd_user
--



--
-- Data for Name: artifacts; Type: TABLE DATA; Schema: eng_it; Owner: crd_user
--

COPY eng_it.artifacts (id, task_id, kind, path, meta, created_at) FROM stdin;
\.


--
-- Data for Name: curator_rationale; Type: TABLE DATA; Schema: eng_it; Owner: crd_user
--

COPY eng_it.curator_rationale (id, task_id, rca, mentor_tips, policy_report, created_at) FROM stdin;
\.


--
-- Data for Name: evidence_artifacts; Type: TABLE DATA; Schema: eng_it; Owner: crd_user
--



--
-- Data for Name: job_queue; Type: TABLE DATA; Schema: eng_it; Owner: crd_user
--

COPY eng_it.job_queue (id, task_id, job_type, payload, status, attempts, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: kurator_verifications; Type: TABLE DATA; Schema: eng_it; Owner: crd_user
--



--
-- Data for Name: patch_events; Type: TABLE DATA; Schema: eng_it; Owner: crd_user
--



--
-- Data for Name: patches; Type: TABLE DATA; Schema: eng_it; Owner: crd_user
--



--
-- Data for Name: progress_navigator; Type: TABLE DATA; Schema: eng_it; Owner: crd_user
--



--
-- Data for Name: roadmap_tz_mapping; Type: TABLE DATA; Schema: eng_it; Owner: crd_user
--

COPY eng_it.roadmap_tz_mapping (mapping_id, roadmap_task, roadmap_task_id, tz_id, navigator_task_id, mapping_type, created_at, updated_at) FROM stdin;
3c4e9bed-cf19-46e3-95e4-b41c54fea440	????????????? ??????? Roadmap ? TZ	RM-001	c77ed2a4-7087-4bb9-b91d-266c0555def6	\N	DIRECT	2025-11-06 14:08:56.531548	2025-11-06 14:08:56.531548
fc2de4cc-982e-495a-bb1b-5d974c04e450	???? ??????? ????? Roadmap ? Kurator	RM-002	766ed60d-64d1-457d-ba81-b2b428518c0b	\N	DIRECT	2025-11-06 14:15:23.829558	2025-11-06 14:15:23.829558
\.


--
-- Data for Name: system_snapshots; Type: TABLE DATA; Schema: eng_it; Owner: crd_user
--



--
-- Data for Name: task_dependencies; Type: TABLE DATA; Schema: eng_it; Owner: crd_user
--

COPY eng_it.task_dependencies (id, task_code, depends_on_task_code, dependency_type, created_at) FROM stdin;
\.


--
-- Data for Name: task_history; Type: TABLE DATA; Schema: eng_it; Owner: crd_user
--

COPY eng_it.task_history (id, task_id, from_status, to_status, changed_at, actor, note) FROM stdin;
\.


--
-- Data for Name: task_verdicts; Type: TABLE DATA; Schema: eng_it; Owner: crd_user
--

COPY eng_it.task_verdicts (id, task_title, rev_id, status, evidence_id, verdict_ts) FROM stdin;
1	E1-B6 Bot v2: ???????????????? ???????????	d79d8279-b668-4e18-82a9-82045cc65f5c	done	\N	2025-11-05 11:20:11.017584+01
2	E1-B7 Bot v3: ???????? Roadmap/Readmap	d79d8279-b668-4e18-82a9-82045cc65f5c	done	\N	2025-11-05 11:20:11.017584+01
4	E1-B9 ?????? ? (PowerShell ??-??????)	d79d8279-b668-4e18-82a9-82045cc65f5c	done	1	2025-11-05 11:20:11.017584+01
3	E1-B13 System Snapshot & Knowledge Sync	d79d8279-b668-4e18-82a9-82045cc65f5c	done	1	2025-11-05 11:20:11.017584+01
\.


--
-- Data for Name: tasks; Type: TABLE DATA; Schema: eng_it; Owner: crd_user
--



--
-- Data for Name: technical_specifications; Type: TABLE DATA; Schema: eng_it; Owner: crd_user
--



--
-- Data for Name: truth_revisions; Type: TABLE DATA; Schema: eng_it; Owner: crd_user
--

COPY eng_it.truth_revisions (rev_id, file_path, sha256, commit_sha, committed_at, actor, is_active) FROM stdin;
d79d8279-b668-4e18-82a9-82045cc65f5c	C:/Users/Artur/Documents/CRD12/workspace/readmap/revisions/GENERAL_PLAN_2025-11-05.md	CED36EA302411E944BB4B54BF024F749D599F02CEE973BCB12EA2036596E790D	manual_commit_2025-11-05	2025-11-05 11:18:57.751971+01	Artur (PlanA)	t
\.


--
-- Data for Name: tz_change_history; Type: TABLE DATA; Schema: eng_it; Owner: crd_user
--

COPY eng_it.tz_change_history (change_id, tz_id, changed_by, change_type, old_values, new_values, change_reason, changed_at) FROM stdin;
\.


--
-- Data for Name: kurator_checks; Type: TABLE DATA; Schema: nav; Owner: crd_user
--



--
-- Data for Name: kurator_policies; Type: TABLE DATA; Schema: nav; Owner: crd_user
--



--
-- Data for Name: projector_offset; Type: TABLE DATA; Schema: nav; Owner: crd_user
--

COPY nav.projector_offset (projector_name, last_event_id, updated_at) FROM stdin;
roadmap_nav	30	2025-11-03 10:24:32.791295+01
\.


--
-- Data for Name: roadmap_items; Type: TABLE DATA; Schema: nav; Owner: crd_user
--



--
-- Data for Name: roadmap_revisions; Type: TABLE DATA; Schema: nav; Owner: crd_user
--



--
-- Data for Name: core_events; Type: TABLE DATA; Schema: public; Owner: crd_user
--



--
-- Data for Name: tasks; Type: TABLE DATA; Schema: public; Owner: crd_user
--



--
-- Data for Name: pipeline_state_latest; Type: TABLE DATA; Schema: read; Owner: crd_user
--

COPY read.pipeline_state_latest (aggregate_type, aggregate_id, stage, status, last_event_id, updated_at) FROM stdin;
task	demo-001	INGESTED	planned	1	2025-10-24 11:41:17.298312+02
\.


--
-- Data for Name: error_taxonomy; Type: TABLE DATA; Schema: ref; Owner: crd_user
--

COPY ref.error_taxonomy (error_code, category, severity, description, remediation_hint) FROM stdin;
\.


--
-- Data for Name: event_stage_map; Type: TABLE DATA; Schema: ref; Owner: crd_user
--

COPY ref.event_stage_map (event_type, stage, status) FROM stdin;
task_ingested	INGESTED	planned
task_planned	PLANNED	in_progress
subtasks_emitted	PLANNED	in_progress
job_enqueued	QUEUED	planned
code_patch_proposed	CODED	in_progress
smoke_test_passed	SMOKED	passed
smoke_test_failed	SMOKED	failed
policy_check_passed	CURATED	passed
policy_check_failed	CURATED	failed
pr_opened	PR_OPEN	in_progress
ci_passed	TESTED	passed
ci_failed	TESTED	failed
pr_approved	APPROVED	passed
merged	MERGED	passed
deploy_success	DEPLOYED	passed
deploy_failed	DEPLOYED	failed
\.


--
-- Data for Name: repo_inventory; Type: TABLE DATA; Schema: ref; Owner: crd_user
--



--
-- Data for Name: risk_policy; Type: TABLE DATA; Schema: ref; Owner: crd_user
--

COPY ref.risk_policy (policy_id, name, params, is_active, updated_at) FROM stdin;
\.


--
-- Data for Name: stage_dict; Type: TABLE DATA; Schema: ref; Owner: crd_user
--

COPY ref.stage_dict (stage, ordinal) FROM stdin;
INGESTED	10
PLANNED	20
QUEUED	30
CODED	40
SMOKED	50
CURATED	60
PR_OPEN	70
TESTED	80
APPROVED	90
MERGED	100
DEPLOYED	110
\.


--
-- Data for Name: stage_transitions; Type: TABLE DATA; Schema: ref; Owner: crd_user
--

COPY ref.stage_transitions (from_stage, to_stage) FROM stdin;
INGESTED	PLANNED
PLANNED	QUEUED
QUEUED	CODED
CODED	SMOKED
SMOKED	CURATED
CURATED	PR_OPEN
PR_OPEN	TESTED
TESTED	APPROVED
APPROVED	MERGED
MERGED	DEPLOYED
\.


--
-- Data for Name: status_dict; Type: TABLE DATA; Schema: ref; Owner: crd_user
--

COPY ref.status_dict (status, priority) FROM stdin;
failed	100
blocked	90
in_progress	80
planned	70
passed	60
canceled	10
\.


--
-- Data for Name: strategy_genome; Type: TABLE DATA; Schema: ref; Owner: crd_user
--

COPY ref.strategy_genome (strategy_id, parent_id, name, version_tag, code_hash, hyperparams, status, created_at, updated_at) FROM stdin;
\.


--
-- Name: error_log_incident_id_seq; Type: SEQUENCE SET; Schema: core; Owner: crd_user
--

SELECT pg_catalog.setval('core.error_log_incident_id_seq', 1, false);


--
-- Name: events_id_seq; Type: SEQUENCE SET; Schema: core; Owner: crd_user
--

SELECT pg_catalog.setval('core.events_id_seq', 33, true);


--
-- Name: patches_id_seq; Type: SEQUENCE SET; Schema: core; Owner: crd_user
--

SELECT pg_catalog.setval('core.patches_id_seq', 1, false);


--
-- Name: agent_progress_id_seq; Type: SEQUENCE SET; Schema: eng_it; Owner: crd_user
--

SELECT pg_catalog.setval('eng_it.agent_progress_id_seq', 656, true);


--
-- Name: artifacts_id_seq; Type: SEQUENCE SET; Schema: eng_it; Owner: crd_user
--

SELECT pg_catalog.setval('eng_it.artifacts_id_seq', 1, false);


--
-- Name: curator_rationale_id_seq; Type: SEQUENCE SET; Schema: eng_it; Owner: crd_user
--

SELECT pg_catalog.setval('eng_it.curator_rationale_id_seq', 1, false);


--
-- Name: evidence_artifacts_id_seq; Type: SEQUENCE SET; Schema: eng_it; Owner: crd_user
--

SELECT pg_catalog.setval('eng_it.evidence_artifacts_id_seq', 12, true);


--
-- Name: job_queue_id_seq; Type: SEQUENCE SET; Schema: eng_it; Owner: crd_user
--

SELECT pg_catalog.setval('eng_it.job_queue_id_seq', 1, false);


--
-- Name: patch_events_id_seq; Type: SEQUENCE SET; Schema: eng_it; Owner: crd_user
--

SELECT pg_catalog.setval('eng_it.patch_events_id_seq', 21, true);


--
-- Name: progress_navigator_id_seq; Type: SEQUENCE SET; Schema: eng_it; Owner: crd_user
--

SELECT pg_catalog.setval('eng_it.progress_navigator_id_seq', 86, true);


--
-- Name: system_snapshots_id_seq; Type: SEQUENCE SET; Schema: eng_it; Owner: crd_user
--

SELECT pg_catalog.setval('eng_it.system_snapshots_id_seq', 4, true);


--
-- Name: task_dependencies_id_seq; Type: SEQUENCE SET; Schema: eng_it; Owner: crd_user
--

SELECT pg_catalog.setval('eng_it.task_dependencies_id_seq', 1, false);


--
-- Name: task_history_id_seq; Type: SEQUENCE SET; Schema: eng_it; Owner: crd_user
--

SELECT pg_catalog.setval('eng_it.task_history_id_seq', 1, false);


--
-- Name: task_verdicts_id_seq; Type: SEQUENCE SET; Schema: eng_it; Owner: crd_user
--

SELECT pg_catalog.setval('eng_it.task_verdicts_id_seq', 4, true);


--
-- Name: tasks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: crd_user
--

SELECT pg_catalog.setval('public.tasks_id_seq', 12, true);


--
-- Name: risk_policy_policy_id_seq; Type: SEQUENCE SET; Schema: ref; Owner: crd_user
--

SELECT pg_catalog.setval('ref.risk_policy_policy_id_seq', 1, false);


--
-- Name: error_log error_log_pkey; Type: CONSTRAINT; Schema: core; Owner: crd_user
--

ALTER TABLE ONLY core.error_log
    ADD CONSTRAINT error_log_pkey PRIMARY KEY (incident_id);


--
-- Name: events events_pkey; Type: CONSTRAINT; Schema: core; Owner: crd_user
--

ALTER TABLE ONLY core.events
    ADD CONSTRAINT events_pkey PRIMARY KEY (id);


--
-- Name: jobs jobs_pkey; Type: CONSTRAINT; Schema: core; Owner: crd_user
--

ALTER TABLE ONLY core.jobs
    ADD CONSTRAINT jobs_pkey PRIMARY KEY (job_id);


--
-- Name: patches patches_pkey; Type: CONSTRAINT; Schema: core; Owner: crd_user
--

ALTER TABLE ONLY core.patches
    ADD CONSTRAINT patches_pkey PRIMARY KEY (id);


--
-- Name: projector_offsets projector_offsets_pkey; Type: CONSTRAINT; Schema: core; Owner: crd_user
--

ALTER TABLE ONLY core.projector_offsets
    ADD CONSTRAINT projector_offsets_pkey PRIMARY KEY (projector_name);


--
-- Name: runtime_flags runtime_flags_pkey; Type: CONSTRAINT; Schema: core; Owner: crd_user
--

ALTER TABLE ONLY core.runtime_flags
    ADD CONSTRAINT runtime_flags_pkey PRIMARY KEY (flag_name);


--
-- Name: agent_progress agent_progress_pkey; Type: CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.agent_progress
    ADD CONSTRAINT agent_progress_pkey PRIMARY KEY (id);


--
-- Name: agent_progress agent_progress_task_code_agent_name_key; Type: CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.agent_progress
    ADD CONSTRAINT agent_progress_task_code_agent_name_key UNIQUE (task_code, agent_name);


--
-- Name: artifacts artifacts_pkey; Type: CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.artifacts
    ADD CONSTRAINT artifacts_pkey PRIMARY KEY (id);


--
-- Name: curator_rationale curator_rationale_pkey; Type: CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.curator_rationale
    ADD CONSTRAINT curator_rationale_pkey PRIMARY KEY (id);


--
-- Name: evidence_artifacts evidence_artifacts_pkey; Type: CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.evidence_artifacts
    ADD CONSTRAINT evidence_artifacts_pkey PRIMARY KEY (id);


--
-- Name: job_queue job_queue_pkey; Type: CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.job_queue
    ADD CONSTRAINT job_queue_pkey PRIMARY KEY (id);


--
-- Name: kurator_verifications kurator_verifications_pkey; Type: CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.kurator_verifications
    ADD CONSTRAINT kurator_verifications_pkey PRIMARY KEY (verification_id);


--
-- Name: patch_events patch_events_pkey; Type: CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.patch_events
    ADD CONSTRAINT patch_events_pkey PRIMARY KEY (id);


--
-- Name: patches patches_pkey; Type: CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.patches
    ADD CONSTRAINT patches_pkey PRIMARY KEY (id);


--
-- Name: progress_navigator progress_navigator_pkey; Type: CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.progress_navigator
    ADD CONSTRAINT progress_navigator_pkey PRIMARY KEY (id);


--
-- Name: progress_navigator progress_navigator_task_code_key; Type: CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.progress_navigator
    ADD CONSTRAINT progress_navigator_task_code_key UNIQUE (task_code);


--
-- Name: roadmap_tz_mapping roadmap_tz_mapping_pkey; Type: CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.roadmap_tz_mapping
    ADD CONSTRAINT roadmap_tz_mapping_pkey PRIMARY KEY (mapping_id);


--
-- Name: roadmap_tz_mapping roadmap_tz_mapping_roadmap_task_id_tz_id_key; Type: CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.roadmap_tz_mapping
    ADD CONSTRAINT roadmap_tz_mapping_roadmap_task_id_tz_id_key UNIQUE (roadmap_task_id, tz_id);


--
-- Name: system_snapshots system_snapshots_pkey; Type: CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.system_snapshots
    ADD CONSTRAINT system_snapshots_pkey PRIMARY KEY (id);


--
-- Name: task_dependencies task_dependencies_pkey; Type: CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.task_dependencies
    ADD CONSTRAINT task_dependencies_pkey PRIMARY KEY (id);


--
-- Name: task_history task_history_pkey; Type: CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.task_history
    ADD CONSTRAINT task_history_pkey PRIMARY KEY (id);


--
-- Name: task_verdicts task_verdicts_pkey; Type: CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.task_verdicts
    ADD CONSTRAINT task_verdicts_pkey PRIMARY KEY (id);


--
-- Name: tasks tasks_pkey; Type: CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.tasks
    ADD CONSTRAINT tasks_pkey PRIMARY KEY (id);


--
-- Name: technical_specifications technical_specifications_pkey; Type: CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.technical_specifications
    ADD CONSTRAINT technical_specifications_pkey PRIMARY KEY (tz_id);


--
-- Name: truth_revisions truth_revisions_pkey; Type: CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.truth_revisions
    ADD CONSTRAINT truth_revisions_pkey PRIMARY KEY (rev_id);


--
-- Name: tz_change_history tz_change_history_pkey; Type: CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.tz_change_history
    ADD CONSTRAINT tz_change_history_pkey PRIMARY KEY (change_id);


--
-- Name: kurator_checks kurator_checks_pkey; Type: CONSTRAINT; Schema: nav; Owner: crd_user
--

ALTER TABLE ONLY nav.kurator_checks
    ADD CONSTRAINT kurator_checks_pkey PRIMARY KEY (check_id);


--
-- Name: kurator_policies kurator_policies_pkey; Type: CONSTRAINT; Schema: nav; Owner: crd_user
--

ALTER TABLE ONLY nav.kurator_policies
    ADD CONSTRAINT kurator_policies_pkey PRIMARY KEY (policy_id);


--
-- Name: kurator_policies kurator_policies_policy_name_key; Type: CONSTRAINT; Schema: nav; Owner: crd_user
--

ALTER TABLE ONLY nav.kurator_policies
    ADD CONSTRAINT kurator_policies_policy_name_key UNIQUE (policy_name);


--
-- Name: projector_offset projector_offset_pkey; Type: CONSTRAINT; Schema: nav; Owner: crd_user
--

ALTER TABLE ONLY nav.projector_offset
    ADD CONSTRAINT projector_offset_pkey PRIMARY KEY (projector_name);


--
-- Name: roadmap_items roadmap_items_pkey; Type: CONSTRAINT; Schema: nav; Owner: crd_user
--

ALTER TABLE ONLY nav.roadmap_items
    ADD CONSTRAINT roadmap_items_pkey PRIMARY KEY (item_id);


--
-- Name: roadmap_revisions roadmap_revisions_pkey; Type: CONSTRAINT; Schema: nav; Owner: crd_user
--

ALTER TABLE ONLY nav.roadmap_revisions
    ADD CONSTRAINT roadmap_revisions_pkey PRIMARY KEY (revision_id);


--
-- Name: core_events core_events_pkey; Type: CONSTRAINT; Schema: public; Owner: crd_user
--

ALTER TABLE ONLY public.core_events
    ADD CONSTRAINT core_events_pkey PRIMARY KEY (id);


--
-- Name: tasks tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: crd_user
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_pkey PRIMARY KEY (id);


--
-- Name: pipeline_state_latest pipeline_state_latest_pkey; Type: CONSTRAINT; Schema: read; Owner: crd_user
--

ALTER TABLE ONLY read.pipeline_state_latest
    ADD CONSTRAINT pipeline_state_latest_pkey PRIMARY KEY (aggregate_type, aggregate_id);


--
-- Name: error_taxonomy error_taxonomy_pkey; Type: CONSTRAINT; Schema: ref; Owner: crd_user
--

ALTER TABLE ONLY ref.error_taxonomy
    ADD CONSTRAINT error_taxonomy_pkey PRIMARY KEY (error_code);


--
-- Name: event_stage_map event_stage_map_pkey; Type: CONSTRAINT; Schema: ref; Owner: crd_user
--

ALTER TABLE ONLY ref.event_stage_map
    ADD CONSTRAINT event_stage_map_pkey PRIMARY KEY (event_type);


--
-- Name: repo_inventory repo_inventory_pkey; Type: CONSTRAINT; Schema: ref; Owner: crd_user
--

ALTER TABLE ONLY ref.repo_inventory
    ADD CONSTRAINT repo_inventory_pkey PRIMARY KEY (path);


--
-- Name: risk_policy risk_policy_name_key; Type: CONSTRAINT; Schema: ref; Owner: crd_user
--

ALTER TABLE ONLY ref.risk_policy
    ADD CONSTRAINT risk_policy_name_key UNIQUE (name);


--
-- Name: risk_policy risk_policy_pkey; Type: CONSTRAINT; Schema: ref; Owner: crd_user
--

ALTER TABLE ONLY ref.risk_policy
    ADD CONSTRAINT risk_policy_pkey PRIMARY KEY (policy_id);


--
-- Name: stage_dict stage_dict_pkey; Type: CONSTRAINT; Schema: ref; Owner: crd_user
--

ALTER TABLE ONLY ref.stage_dict
    ADD CONSTRAINT stage_dict_pkey PRIMARY KEY (stage);


--
-- Name: stage_transitions stage_transitions_pkey; Type: CONSTRAINT; Schema: ref; Owner: crd_user
--

ALTER TABLE ONLY ref.stage_transitions
    ADD CONSTRAINT stage_transitions_pkey PRIMARY KEY (from_stage, to_stage);


--
-- Name: status_dict status_dict_pkey; Type: CONSTRAINT; Schema: ref; Owner: crd_user
--

ALTER TABLE ONLY ref.status_dict
    ADD CONSTRAINT status_dict_pkey PRIMARY KEY (status);


--
-- Name: strategy_genome strategy_genome_name_version_tag_key; Type: CONSTRAINT; Schema: ref; Owner: crd_user
--

ALTER TABLE ONLY ref.strategy_genome
    ADD CONSTRAINT strategy_genome_name_version_tag_key UNIQUE (name, version_tag);


--
-- Name: strategy_genome strategy_genome_pkey; Type: CONSTRAINT; Schema: ref; Owner: crd_user
--

ALTER TABLE ONLY ref.strategy_genome
    ADD CONSTRAINT strategy_genome_pkey PRIMARY KEY (strategy_id);


--
-- Name: idx_events_job_id; Type: INDEX; Schema: core; Owner: crd_user
--

CREATE INDEX idx_events_job_id ON core.events USING btree (job_id);


--
-- Name: idx_events_ts; Type: INDEX; Schema: core; Owner: crd_user
--

CREATE INDEX idx_events_ts ON core.events USING btree (ts DESC);


--
-- Name: idx_events_type; Type: INDEX; Schema: core; Owner: crd_user
--

CREATE INDEX idx_events_type ON core.events USING btree (type);


--
-- Name: idx_jobs_created; Type: INDEX; Schema: core; Owner: crd_user
--

CREATE INDEX idx_jobs_created ON core.jobs USING btree (created_at DESC);


--
-- Name: idx_jobs_source; Type: INDEX; Schema: core; Owner: crd_user
--

CREATE INDEX idx_jobs_source ON core.jobs USING btree (source);


--
-- Name: idx_jobs_status; Type: INDEX; Schema: core; Owner: crd_user
--

CREATE INDEX idx_jobs_status ON core.jobs USING btree (status);


--
-- Name: ix_core_patches_target; Type: INDEX; Schema: core; Owner: crd_user
--

CREATE INDEX ix_core_patches_target ON core.patches USING btree (target_path);


--
-- Name: ix_error_log_code; Type: INDEX; Schema: core; Owner: crd_user
--

CREATE INDEX ix_error_log_code ON core.error_log USING btree (error_code);


--
-- Name: ix_error_log_path; Type: INDEX; Schema: core; Owner: crd_user
--

CREATE INDEX ix_error_log_path ON core.error_log USING btree (path);


--
-- Name: ix_error_log_stage; Type: INDEX; Schema: core; Owner: crd_user
--

CREATE INDEX ix_error_log_stage ON core.error_log USING btree (stage);


--
-- Name: ix_error_log_ts; Type: INDEX; Schema: core; Owner: crd_user
--

CREATE INDEX ix_error_log_ts ON core.error_log USING btree (ts);


--
-- Name: ux_core_patches_idemp; Type: INDEX; Schema: core; Owner: crd_user
--

CREATE UNIQUE INDEX ux_core_patches_idemp ON core.patches USING btree (idempotency_key);


--
-- Name: idx_kv_status; Type: INDEX; Schema: eng_it; Owner: crd_user
--

CREATE INDEX idx_kv_status ON eng_it.kurator_verifications USING btree (status);


--
-- Name: idx_kv_tz_id; Type: INDEX; Schema: eng_it; Owner: crd_user
--

CREATE INDEX idx_kv_tz_id ON eng_it.kurator_verifications USING btree (tz_id);


--
-- Name: idx_kv_verified_at; Type: INDEX; Schema: eng_it; Owner: crd_user
--

CREATE INDEX idx_kv_verified_at ON eng_it.kurator_verifications USING btree (verified_at);


--
-- Name: idx_patch_events_patch_id; Type: INDEX; Schema: eng_it; Owner: crd_user
--

CREATE INDEX idx_patch_events_patch_id ON eng_it.patch_events USING btree (patch_id);


--
-- Name: idx_patch_events_ts; Type: INDEX; Schema: eng_it; Owner: crd_user
--

CREATE INDEX idx_patch_events_ts ON eng_it.patch_events USING btree (ts);


--
-- Name: idx_patches_approve_token; Type: INDEX; Schema: eng_it; Owner: crd_user
--

CREATE INDEX idx_patches_approve_token ON eng_it.patches USING btree (approve_token) WHERE (approve_token IS NOT NULL);


--
-- Name: idx_patches_created_at; Type: INDEX; Schema: eng_it; Owner: crd_user
--

CREATE INDEX idx_patches_created_at ON eng_it.patches USING btree (created_at DESC);


--
-- Name: idx_patches_status; Type: INDEX; Schema: eng_it; Owner: crd_user
--

CREATE INDEX idx_patches_status ON eng_it.patches USING btree (status);


--
-- Name: idx_rtm_navigator_task_id; Type: INDEX; Schema: eng_it; Owner: crd_user
--

CREATE INDEX idx_rtm_navigator_task_id ON eng_it.roadmap_tz_mapping USING btree (navigator_task_id);


--
-- Name: idx_rtm_roadmap_task; Type: INDEX; Schema: eng_it; Owner: crd_user
--

CREATE INDEX idx_rtm_roadmap_task ON eng_it.roadmap_tz_mapping USING btree (roadmap_task);


--
-- Name: idx_rtm_roadmap_task_id; Type: INDEX; Schema: eng_it; Owner: crd_user
--

CREATE INDEX idx_rtm_roadmap_task_id ON eng_it.roadmap_tz_mapping USING btree (roadmap_task_id);


--
-- Name: idx_rtm_tz_id; Type: INDEX; Schema: eng_it; Owner: crd_user
--

CREATE INDEX idx_rtm_tz_id ON eng_it.roadmap_tz_mapping USING btree (tz_id);


--
-- Name: idx_tch_change_type; Type: INDEX; Schema: eng_it; Owner: crd_user
--

CREATE INDEX idx_tch_change_type ON eng_it.tz_change_history USING btree (change_type);


--
-- Name: idx_tch_changed_at; Type: INDEX; Schema: eng_it; Owner: crd_user
--

CREATE INDEX idx_tch_changed_at ON eng_it.tz_change_history USING btree (changed_at);


--
-- Name: idx_tch_tz_id; Type: INDEX; Schema: eng_it; Owner: crd_user
--

CREATE INDEX idx_tch_tz_id ON eng_it.tz_change_history USING btree (tz_id);


--
-- Name: idx_ts_created_at; Type: INDEX; Schema: eng_it; Owner: crd_user
--

CREATE INDEX idx_ts_created_at ON eng_it.technical_specifications USING btree (created_at);


--
-- Name: idx_ts_kurator_verified; Type: INDEX; Schema: eng_it; Owner: crd_user
--

CREATE INDEX idx_ts_kurator_verified ON eng_it.technical_specifications USING btree (kurator_verified);


--
-- Name: idx_ts_priority; Type: INDEX; Schema: eng_it; Owner: crd_user
--

CREATE INDEX idx_ts_priority ON eng_it.technical_specifications USING btree (tz_priority);


--
-- Name: idx_ts_roadmap_task_id; Type: INDEX; Schema: eng_it; Owner: crd_user
--

CREATE INDEX idx_ts_roadmap_task_id ON eng_it.technical_specifications USING btree (roadmap_task_id);


--
-- Name: idx_ts_status; Type: INDEX; Schema: eng_it; Owner: crd_user
--

CREATE INDEX idx_ts_status ON eng_it.technical_specifications USING btree (status);


--
-- Name: uq_eng_it_truth_active; Type: INDEX; Schema: eng_it; Owner: crd_user
--

CREATE UNIQUE INDEX uq_eng_it_truth_active ON eng_it.truth_revisions USING btree (is_active) WHERE is_active;


--
-- Name: idx_kurator_checks_target; Type: INDEX; Schema: nav; Owner: crd_user
--

CREATE INDEX idx_kurator_checks_target ON nav.kurator_checks USING btree (target_type, target_id);


--
-- Name: idx_kurator_checks_time; Type: INDEX; Schema: nav; Owner: crd_user
--

CREATE INDEX idx_kurator_checks_time ON nav.kurator_checks USING btree (checked_at);


--
-- Name: idx_kurator_policies_severity; Type: INDEX; Schema: nav; Owner: crd_user
--

CREATE INDEX idx_kurator_policies_severity ON nav.kurator_policies USING btree (severity, active);


--
-- Name: idx_kurator_policies_type; Type: INDEX; Schema: nav; Owner: crd_user
--

CREATE INDEX idx_kurator_policies_type ON nav.kurator_policies USING btree (policy_type, active);


--
-- Name: idx_roadmap_order; Type: INDEX; Schema: nav; Owner: crd_user
--

CREATE INDEX idx_roadmap_order ON nav.roadmap_items USING btree (order_index);


--
-- Name: idx_roadmap_rev_item; Type: INDEX; Schema: nav; Owner: crd_user
--

CREATE INDEX idx_roadmap_rev_item ON nav.roadmap_revisions USING btree (item_id);


--
-- Name: idx_roadmap_status_priority; Type: INDEX; Schema: nav; Owner: crd_user
--

CREATE INDEX idx_roadmap_status_priority ON nav.roadmap_items USING btree (status, priority);


--
-- Name: idx_roadmap_tech_hints_gin; Type: INDEX; Schema: nav; Owner: crd_user
--

CREATE INDEX idx_roadmap_tech_hints_gin ON nav.roadmap_items USING gin (tech_hints);


--
-- Name: idx_roadmap_tree_view_item_id; Type: INDEX; Schema: nav; Owner: crd_user
--

CREATE INDEX idx_roadmap_tree_view_item_id ON nav.roadmap_tree_view USING btree (item_id);


--
-- Name: idx_roadmap_tree_view_parent_id; Type: INDEX; Schema: nav; Owner: crd_user
--

CREATE INDEX idx_roadmap_tree_view_parent_id ON nav.roadmap_tree_view USING btree (parent_id);


--
-- Name: idx_roadmap_tree_view_path; Type: INDEX; Schema: nav; Owner: crd_user
--

CREATE INDEX idx_roadmap_tree_view_path ON nav.roadmap_tree_view USING gin (path);


--
-- Name: idx_roadmap_tree_view_status; Type: INDEX; Schema: nav; Owner: crd_user
--

CREATE INDEX idx_roadmap_tree_view_status ON nav.roadmap_tree_view USING btree (status);


--
-- Name: ix_tasks_id; Type: INDEX; Schema: public; Owner: crd_user
--

CREATE INDEX ix_tasks_id ON public.tasks USING btree (id);


--
-- Name: ix_tasks_status; Type: INDEX; Schema: public; Owner: crd_user
--

CREATE INDEX ix_tasks_status ON public.tasks USING btree (status);


--
-- Name: ix_tasks_user_id; Type: INDEX; Schema: public; Owner: crd_user
--

CREATE INDEX ix_tasks_user_id ON public.tasks USING btree (user_id);


--
-- Name: ix_pipeline_state_stage; Type: INDEX; Schema: read; Owner: crd_user
--

CREATE INDEX ix_pipeline_state_stage ON read.pipeline_state_latest USING btree (stage);


--
-- Name: ix_pipeline_state_status; Type: INDEX; Schema: read; Owner: crd_user
--

CREATE INDEX ix_pipeline_state_status ON read.pipeline_state_latest USING btree (status);


--
-- Name: ix_repo_inventory_component; Type: INDEX; Schema: ref; Owner: crd_user
--

CREATE INDEX ix_repo_inventory_component ON ref.repo_inventory USING btree (component);


--
-- Name: ix_repo_inventory_policy; Type: INDEX; Schema: ref; Owner: crd_user
--

CREATE INDEX ix_repo_inventory_policy ON ref.repo_inventory USING btree (change_policy);


--
-- Name: ix_repo_inventory_service; Type: INDEX; Schema: ref; Owner: crd_user
--

CREATE INDEX ix_repo_inventory_service ON ref.repo_inventory USING btree (service);


--
-- Name: ix_strategy_genome_codehash; Type: INDEX; Schema: ref; Owner: crd_user
--

CREATE INDEX ix_strategy_genome_codehash ON ref.strategy_genome USING btree (code_hash);


--
-- Name: ix_strategy_genome_parent; Type: INDEX; Schema: ref; Owner: crd_user
--

CREATE INDEX ix_strategy_genome_parent ON ref.strategy_genome USING btree (parent_id);


--
-- Name: kurator_verifications trg_kurator_to_roadmap; Type: TRIGGER; Schema: eng_it; Owner: crd_user
--

CREATE TRIGGER trg_kurator_to_roadmap AFTER INSERT OR UPDATE OF status ON eng_it.kurator_verifications FOR EACH ROW EXECUTE FUNCTION eng_it.fn_sync_kurator_to_roadmap();


--
-- Name: error_log error_log_error_code_fkey; Type: FK CONSTRAINT; Schema: core; Owner: crd_user
--

ALTER TABLE ONLY core.error_log
    ADD CONSTRAINT error_log_error_code_fkey FOREIGN KEY (error_code) REFERENCES ref.error_taxonomy(error_code);


--
-- Name: agent_progress agent_progress_task_code_fkey; Type: FK CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.agent_progress
    ADD CONSTRAINT agent_progress_task_code_fkey FOREIGN KEY (task_code) REFERENCES eng_it.progress_navigator(task_code);


--
-- Name: artifacts artifacts_task_id_fkey; Type: FK CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.artifacts
    ADD CONSTRAINT artifacts_task_id_fkey FOREIGN KEY (task_id) REFERENCES eng_it.tasks(id) ON DELETE CASCADE;


--
-- Name: curator_rationale curator_rationale_task_id_fkey; Type: FK CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.curator_rationale
    ADD CONSTRAINT curator_rationale_task_id_fkey FOREIGN KEY (task_id) REFERENCES eng_it.tasks(id) ON DELETE CASCADE;


--
-- Name: job_queue job_queue_task_id_fkey; Type: FK CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.job_queue
    ADD CONSTRAINT job_queue_task_id_fkey FOREIGN KEY (task_id) REFERENCES eng_it.tasks(id) ON DELETE CASCADE;


--
-- Name: kurator_verifications kurator_verifications_tz_id_fkey; Type: FK CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.kurator_verifications
    ADD CONSTRAINT kurator_verifications_tz_id_fkey FOREIGN KEY (tz_id) REFERENCES eng_it.technical_specifications(tz_id) ON DELETE CASCADE;


--
-- Name: patch_events patch_events_patch_id_fkey; Type: FK CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.patch_events
    ADD CONSTRAINT patch_events_patch_id_fkey FOREIGN KEY (patch_id) REFERENCES eng_it.patches(id);


--
-- Name: roadmap_tz_mapping roadmap_tz_mapping_tz_id_fkey; Type: FK CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.roadmap_tz_mapping
    ADD CONSTRAINT roadmap_tz_mapping_tz_id_fkey FOREIGN KEY (tz_id) REFERENCES eng_it.technical_specifications(tz_id) ON DELETE CASCADE;


--
-- Name: task_dependencies task_dependencies_task_code_fkey; Type: FK CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.task_dependencies
    ADD CONSTRAINT task_dependencies_task_code_fkey FOREIGN KEY (task_code) REFERENCES eng_it.progress_navigator(task_code);


--
-- Name: task_history task_history_task_id_fkey; Type: FK CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.task_history
    ADD CONSTRAINT task_history_task_id_fkey FOREIGN KEY (task_id) REFERENCES eng_it.tasks(id) ON DELETE CASCADE;


--
-- Name: task_verdicts task_verdicts_evidence_id_fkey; Type: FK CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.task_verdicts
    ADD CONSTRAINT task_verdicts_evidence_id_fkey FOREIGN KEY (evidence_id) REFERENCES eng_it.evidence_artifacts(id);


--
-- Name: task_verdicts task_verdicts_rev_id_fkey; Type: FK CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.task_verdicts
    ADD CONSTRAINT task_verdicts_rev_id_fkey FOREIGN KEY (rev_id) REFERENCES eng_it.truth_revisions(rev_id) ON DELETE CASCADE;


--
-- Name: tz_change_history tz_change_history_tz_id_fkey; Type: FK CONSTRAINT; Schema: eng_it; Owner: crd_user
--

ALTER TABLE ONLY eng_it.tz_change_history
    ADD CONSTRAINT tz_change_history_tz_id_fkey FOREIGN KEY (tz_id) REFERENCES eng_it.technical_specifications(tz_id) ON DELETE CASCADE;


--
-- Name: kurator_checks kurator_checks_policy_id_fkey; Type: FK CONSTRAINT; Schema: nav; Owner: crd_user
--

ALTER TABLE ONLY nav.kurator_checks
    ADD CONSTRAINT kurator_checks_policy_id_fkey FOREIGN KEY (policy_id) REFERENCES nav.kurator_policies(policy_id);


--
-- Name: roadmap_revisions roadmap_revisions_item_id_fkey; Type: FK CONSTRAINT; Schema: nav; Owner: crd_user
--

ALTER TABLE ONLY nav.roadmap_revisions
    ADD CONSTRAINT roadmap_revisions_item_id_fkey FOREIGN KEY (item_id) REFERENCES nav.roadmap_items(item_id);


--
-- Name: event_stage_map event_stage_map_stage_fkey; Type: FK CONSTRAINT; Schema: ref; Owner: crd_user
--

ALTER TABLE ONLY ref.event_stage_map
    ADD CONSTRAINT event_stage_map_stage_fkey FOREIGN KEY (stage) REFERENCES ref.stage_dict(stage);


--
-- Name: event_stage_map event_stage_map_status_fkey; Type: FK CONSTRAINT; Schema: ref; Owner: crd_user
--

ALTER TABLE ONLY ref.event_stage_map
    ADD CONSTRAINT event_stage_map_status_fkey FOREIGN KEY (status) REFERENCES ref.status_dict(status);


--
-- Name: stage_transitions stage_transitions_from_stage_fkey; Type: FK CONSTRAINT; Schema: ref; Owner: crd_user
--

ALTER TABLE ONLY ref.stage_transitions
    ADD CONSTRAINT stage_transitions_from_stage_fkey FOREIGN KEY (from_stage) REFERENCES ref.stage_dict(stage);


--
-- Name: stage_transitions stage_transitions_to_stage_fkey; Type: FK CONSTRAINT; Schema: ref; Owner: crd_user
--

ALTER TABLE ONLY ref.stage_transitions
    ADD CONSTRAINT stage_transitions_to_stage_fkey FOREIGN KEY (to_stage) REFERENCES ref.stage_dict(stage);


--
-- Name: SCHEMA core; Type: ACL; Schema: -; Owner: crd_user
--

GRANT ALL ON SCHEMA core TO eng_it;


--
-- Name: SCHEMA eng_it; Type: ACL; Schema: -; Owner: crd_user
--

GRANT ALL ON SCHEMA eng_it TO eng_it;


--
-- Name: SCHEMA nav; Type: ACL; Schema: -; Owner: crd_user
--

GRANT ALL ON SCHEMA nav TO eng_it;


--
-- Name: roadmap_tree_view; Type: MATERIALIZED VIEW DATA; Schema: nav; Owner: crd_user
--

REFRESH MATERIALIZED VIEW nav.roadmap_tree_view;


--
-- PostgreSQL database dump complete
--

\unrestrict 8DCEMdIRCkUK7MDvc8ODeOmD4zFP3hvqwfNM0IHczMAnvsBkJLVuUfkyTYVhFRt

